<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html lang="ko" xml:lang="ko" xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="X-UA-Compatible" content="IE=edge" />
<meta http-equiv="Content-type" content="text/html; charset=utf-8" />
</head>
<body>
<table style="border: 0px solid rgb(63, 63, 63); width: 690px; height: 182px; font-size: 10pt; border-collapse: collapse; background-color: rgb(255, 255, 255);" border="0" cellspacing="0" cellpadding="0">
<tbody>
<tr>
<td style="width: 232px; height: 180px; background-color: rgb(0, 175, 96);">
<h3 style="text-align: center;"><span style="color: rgb(255, 240, 0);">제목을 입력하세요</span></h3></td>
<td style="width: 455px; height: 180px; background-color: rgb(247, 247, 247);">
<p style="padding-left: 40px;"><span style="color: rgb(32, 160, 63);"><strong>소제목을 입력하세요.</strong></span></p>
<p style="padding-left: 40px;"><span style="color: rgb(120, 120, 120);">내용을 입력하세요.</span></p></td>
</tr>
</tbody>
</table>
<table style="border: 0px solid rgb(63, 63, 63); width: 690px; height: 400px; font-size: 10pt; border-collapse: collapse; background-color: rgb(255, 255, 255);" border="0" cellspacing="0" cellpadding="0">
<tbody>
<tr>
<td style="width: 453px; height: 400px;">
<p>&nbsp;</p>
<p><span style="color: rgb(120, 120, 120);">내용을 입력하세요.</span></p></td>
<td style="width: 235px; height: 400px;">
<p style="text-align: center;"><span style="color: rgb(120, 120, 120);">[이미지]</span></p></td>
</tr>
</tbody>
</table>
<table style="border: 0px solid rgb(63, 63, 63); width: 690px; height: 200px; font-size: 10pt; border-collapse: collapse; background-color: rgb(255, 255, 255);" border="0" cellspacing="0" cellpadding="0">
<tbody>
<tr>
<td style="width: 345px; height: 200px;">
<p style="text-align: center;"><span style="color: rgb(120, 120, 120);">[이미지]</span></p></td>
<td style="width: 345px; height: 200px;">
<p style="text-align: center;"><span style="color: rgb(120, 120, 120);">[이미지]</span></p></td>
</tr>
</tbody>
</table>
<p>&nbsp;</p>
</body>
</html>