<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"   "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cellosquare.adminapp.admin.libsubmv.mapper.AdminLibSubMvMapper">

	<select id="getTotalCount" parameterType="com.cellosquare.adminapp.admin.libsubmv.vo.AdminLibSubMvVO" resultType="int">
		SELECT COUNT(A.*)
		FROM MK_LIB_SUB_MV A
		JOIN ( 
			SELECT
				  NEWS_SEQ_NO AS RELTD_SEQ_NO
				, TITLE_NM 
				, FN_GETCODENM('CELLO_NEWS', NEWS_CCD1, LANG_CD) AS CCDS_NM
				, PC_LIST_IMG_PATH
				, PC_LIST_IMG_ORG_FILE_NM
				, PC_LIST_IMG_FILE_NM
				, PC_LIST_IMG_ALT
				, MOBILE_LIST_IMG_PATH 
				, MOBILE_LIST_IMG_ORG_FILE_NM
				, MOBILE_LIST_IMG_FILE_NM
				, MOBILE_LIST_IMG_ALT
				, 'LIBSUBMV_01' AS LIB_SUB_CCD1
			FROM MK_CELLO_NEWS WHERE LANG_CD = #{langCd}
			UNION ALL
			SELECT
				  BLOG_SEQ_NO AS RELTD_SEQ_NO
				, TITLE_NM 
				, FN_GETCODENM('BLOG_DIV', BLOG_CCD1, LANG_CD) AS CCDS_NM
				, PC_LIST_IMG_PATH
				, PC_LIST_IMG_ORG_FILE_NM
				, PC_LIST_IMG_FILE_NM
				, PC_LIST_IMG_ALT
				, MOBILE_LIST_IMG_PATH 
				, MOBILE_LIST_IMG_ORG_FILE_NM
				, MOBILE_LIST_IMG_FILE_NM
				, MOBILE_LIST_IMG_ALT
				, 'LIBSUBMV_02' AS LIB_SUB_CCD1
			FROM MK_BLOG WHERE LANG_CD = #{langCd}
			UNION ALL
			SELECT
				  RPT_SEQ_NO AS RELTD_SEQ_NO
				, TITLE_NM 
				, FN_GETCODENM('REPORT_DIV', RPT_CCD, LANG_CD) AS CCDS_NM
				, PC_LIST_IMG_PATH
				, PC_LIST_IMG_ORG_FILE_NM
				, PC_LIST_IMG_FILE_NM
				, PC_LIST_IMG_ALT
				, MOBILE_LIST_IMG_PATH 
				, MOBILE_LIST_IMG_ORG_FILE_NM
				, MOBILE_LIST_IMG_FILE_NM
				, MOBILE_LIST_IMG_ALT
				, 'LIBSUBMV_03' AS LIB_SUB_CCD1
			FROM MK_RPT WHERE LANG_CD = #{langCd}
			UNION ALL
			SELECT
				  VIDEO_SEQ_NO AS RELTD_SEQ_NO
				, TITLE_NM 
				, FN_GETCODENM('VIDEO_DIV', VIDEO_CCD, LANG_CD) AS CCDS_NM
				, PC_LIST_IMG_PATH
				, PC_LIST_IMG_ORG_FILE_NM
				, PC_LIST_IMG_FILE_NM
				, PC_LIST_IMG_ALT
				, MOBILE_LIST_IMG_PATH 
				, MOBILE_LIST_IMG_ORG_FILE_NM
				, MOBILE_LIST_IMG_FILE_NM
				, MOBILE_LIST_IMG_ALT
				, 'LIBSUBMV_04' AS LIB_SUB_CCD1
			FROM MG_VIDEO WHERE LANG_CD = #{langCd}
			UNION ALL
			SELECT
				  FAQ_SEQ AS RELTD_SEQ_NO
				, TITLE_NM 
				, FN_GETCODENM('FAQ_DIV', FAQ_CCD, LANG_CD) AS CCDS_NM
				, ''AS PC_LIST_IMG_PATH
				, ''AS PC_LIST_IMG_ORG_FILE_NM
				, ''AS PC_LIST_IMG_FILE_NM
				, ''AS PC_LIST_IMG_ALT
				, ''AS MOBILE_LIST_IMG_PATH 
				, ''AS MOBILE_LIST_IMG_ORG_FILE_NM
				, ''AS MOBILE_LIST_IMG_FILE_NM
				, ''AS MOBILE_LIST_IMG_ALT
				, 'LIBSUBMV_05' AS LIB_SUB_CCD1
			FROM MK_FAQ WHERE LANG_CD = #{langCd}
		)B
		ON A.RELTD_LIB::integer = B.RELTD_SEQ_NO AND A.MV_LIB_CCD = B.LIB_SUB_CCD1
		WHERE A.LANG_CD = #{langCd}
		<if test="@com.bluewaves.lab.util.MyBatisUtil@isNotNull(searchType) and @com.bluewaves.lab.util.MyBatisUtil@isNotEmpty(searchType)">
           AND A.MV_LIB_CCD = #{searchType}
        </if>
        <if test="@com.bluewaves.lab.util.MyBatisUtil@isNotNull(searchValue) and @com.bluewaves.lab.util.MyBatisUtil@isNotEmpty(searchValue)">
			AND B.TITLE_NM ILIKE CONCAT ('%', #{searchValue}, '%')
		</if>	
	</select>
	
	<select id="getList" parameterType="com.cellosquare.adminapp.admin.libsubmv.vo.AdminLibSubMvVO" resultType="com.cellosquare.adminapp.admin.libsubmv.vo.AdminLibSubMvVO">
		SELECT
			  A.LIB_SUB_MV_SEQ_NO
			, A.LANG_CD
			, A.MV_LIB_CCD
			, FN_GETCODENM('LIBSUBMV_DIV', A.MV_LIB_CCD, A.LANG_CD) AS MV_LIB_CCD_NM
			, A.RELTD_LIB
			, A.ORDB
			, TO_CHAR(A.INS_DTM, 'YYYY-MM-DD') AS INS_DTM
			, A.INS_PERSON_ID
			, FN_GETMANAGERNM(A.INS_PERSON_ID) AS INS_PERSON_NM
			, TO_CHAR(A.UPD_DTM, 'YYYY-MM-DD') AS UPD_DTM
			, A.UPD_PERSON_ID
			, FN_GETMANAGERNM(A.UPD_PERSON_ID) AS UPD_PERSON_NM
			, CASE 
			WHEN A.MV_LIB_CCD ='LIBSUBMV_01' THEN
				CASE WHEN (SELECT COUNT(*) FROM MK_CELLO_NEWS WHERE NEWS_SEQ_NO = A.RELTD_LIB::integer AND USE_YN='Y') = 0 THEN 'N'
				ELSE A.USE_YN END
			WHEN A.MV_LIB_CCD ='LIBSUBMV_02' THEN
				CASE WHEN (SELECT COUNT(*) FROM MK_BLOG WHERE BLOG_SEQ_NO = A.RELTD_LIB::integer AND USE_YN='Y') = 0 THEN 'N'
				ELSE A.USE_YN END
			WHEN A.MV_LIB_CCD ='LIBSUBMV_03' THEN
				CASE WHEN (SELECT COUNT(*) FROM MK_RPT WHERE RPT_SEQ_NO = A.RELTD_LIB::integer AND USE_YN='Y') = 0 THEN 'N'
				ELSE A.USE_YN END
			WHEN A.MV_LIB_CCD ='LIBSUBMV_04' THEN
				CASE WHEN (SELECT COUNT(*) FROM MG_VIDEO WHERE VIDEO_SEQ_NO = A.RELTD_LIB::integer AND USE_YN='Y') = 0 THEN 'N'
				ELSE A.USE_YN END
			WHEN A.MV_LIB_CCD ='LIBSUBMV_05' THEN
				CASE WHEN (SELECT COUNT(*) FROM MK_FAQ WHERE FAQ_SEQ = A.RELTD_LIB::integer AND USE_YN='Y') = 0 THEN 'N'
				ELSE A.USE_YN END
			ELSE 'ERROR' 
			END USE_YN 
			, CASE 
			WHEN A.MV_LIB_CCD ='LIBSUBMV_01' THEN
				CASE WHEN (SELECT COUNT(*) FROM MK_CELLO_NEWS WHERE NEWS_SEQ_NO = A.RELTD_LIB::integer AND USE_YN='Y') = 0 THEN FN_GETCODENM('USE_YN', 'N', A.LANG_CD) 
				ELSE FN_GETCODENM('USE_YN',A.USE_YN, A.LANG_CD) END
			WHEN A.MV_LIB_CCD ='LIBSUBMV_02' THEN
				CASE WHEN (SELECT COUNT(*) FROM MK_BLOG WHERE BLOG_SEQ_NO = A.RELTD_LIB::integer AND USE_YN='Y') = 0 THEN FN_GETCODENM('USE_YN', 'N', A.LANG_CD) 
				ELSE FN_GETCODENM('USE_YN',A.USE_YN, A.LANG_CD) END
			WHEN A.MV_LIB_CCD ='LIBSUBMV_03' THEN
				CASE WHEN (SELECT COUNT(*) FROM MK_RPT WHERE RPT_SEQ_NO = A.RELTD_LIB::integer AND USE_YN='Y') = 0 THEN FN_GETCODENM('USE_YN', 'N', A.LANG_CD) 
				ELSE FN_GETCODENM('USE_YN',A.USE_YN, A.LANG_CD) END
			WHEN A.MV_LIB_CCD ='LIBSUBMV_04' THEN
				CASE WHEN (SELECT COUNT(*) FROM MG_VIDEO WHERE VIDEO_SEQ_NO = A.RELTD_LIB::integer AND USE_YN='Y') = 0 THEN FN_GETCODENM('USE_YN', 'N', A.LANG_CD) 
				ELSE FN_GETCODENM('USE_YN',A.USE_YN, A.LANG_CD) END
			WHEN A.MV_LIB_CCD ='LIBSUBMV_05' THEN
				CASE WHEN (SELECT COUNT(*) FROM MK_FAQ WHERE FAQ_SEQ = A.RELTD_LIB::integer AND USE_YN='Y') = 0 THEN FN_GETCODENM('USE_YN', 'N', A.LANG_CD) 
				ELSE FN_GETCODENM('USE_YN',A.USE_YN, A.LANG_CD) END
			ELSE 'ERROR' 
			END USE_YN_NM
			, B.*
		FROM MK_LIB_SUB_MV A
		JOIN ( 
			SELECT
				  NEWS_SEQ_NO AS RELTD_SEQ_NO
				, TITLE_NM 
				, FN_GETCODENM('CELLO_NEWS', NEWS_CCD1, LANG_CD) AS CCDS_NM
				, PC_LIST_IMG_PATH
				, PC_LIST_IMG_ORG_FILE_NM
				, PC_LIST_IMG_FILE_NM
				, PC_LIST_IMG_ALT
				, MOBILE_LIST_IMG_PATH 
				, MOBILE_LIST_IMG_ORG_FILE_NM
				, MOBILE_LIST_IMG_FILE_NM
				, MOBILE_LIST_IMG_ALT
				, 'LIBSUBMV_01' AS LIB_SUB_CCD1
			FROM MK_CELLO_NEWS WHERE LANG_CD = #{langCd}
			UNION ALL
			SELECT
				  BLOG_SEQ_NO AS RELTD_SEQ_NO
				, TITLE_NM 
				, FN_GETCODENM('BLOG_DIV', BLOG_CCD1, LANG_CD) AS CCDS_NM
				, PC_LIST_IMG_PATH
				, PC_LIST_IMG_ORG_FILE_NM
				, PC_LIST_IMG_FILE_NM
				, PC_LIST_IMG_ALT
				, MOBILE_LIST_IMG_PATH 
				, MOBILE_LIST_IMG_ORG_FILE_NM
				, MOBILE_LIST_IMG_FILE_NM
				, MOBILE_LIST_IMG_ALT
				, 'LIBSUBMV_02' AS LIB_SUB_CCD1
			FROM MK_BLOG WHERE LANG_CD = #{langCd}
			UNION ALL
			SELECT
				  RPT_SEQ_NO AS RELTD_SEQ_NO
				, TITLE_NM 
				, FN_GETCODENM('REPORT_DIV', RPT_CCD, LANG_CD) AS CCDS_NM
				, PC_LIST_IMG_PATH
				, PC_LIST_IMG_ORG_FILE_NM
				, PC_LIST_IMG_FILE_NM
				, PC_LIST_IMG_ALT
				, MOBILE_LIST_IMG_PATH 
				, MOBILE_LIST_IMG_ORG_FILE_NM
				, MOBILE_LIST_IMG_FILE_NM
				, MOBILE_LIST_IMG_ALT
				, 'LIBSUBMV_03' AS LIB_SUB_CCD1
			FROM MK_RPT WHERE LANG_CD = #{langCd}
			UNION ALL
			SELECT
				  VIDEO_SEQ_NO AS RELTD_SEQ_NO
				, TITLE_NM 
				, FN_GETCODENM('VIDEO_DIV', VIDEO_CCD, LANG_CD) AS CCDS_NM
				, PC_LIST_IMG_PATH
				, PC_LIST_IMG_ORG_FILE_NM
				, PC_LIST_IMG_FILE_NM
				, PC_LIST_IMG_ALT
				, MOBILE_LIST_IMG_PATH 
				, MOBILE_LIST_IMG_ORG_FILE_NM
				, MOBILE_LIST_IMG_FILE_NM
				, MOBILE_LIST_IMG_ALT
				, 'LIBSUBMV_04' AS LIB_SUB_CCD1
			FROM MG_VIDEO WHERE LANG_CD = #{langCd}
			UNION ALL
			SELECT
				  FAQ_SEQ AS RELTD_SEQ_NO
				, TITLE_NM 
				, FN_GETCODENM('FAQ_DIV', FAQ_CCD, LANG_CD) AS CCDS_NM
				, ''AS PC_LIST_IMG_PATH
				, ''AS PC_LIST_IMG_ORG_FILE_NM
				, ''AS PC_LIST_IMG_FILE_NM
				, ''AS PC_LIST_IMG_ALT
				, ''AS MOBILE_LIST_IMG_PATH 
				, ''AS MOBILE_LIST_IMG_ORG_FILE_NM
				, ''AS MOBILE_LIST_IMG_FILE_NM
				, ''AS MOBILE_LIST_IMG_ALT
				, 'LIBSUBMV_05' AS LIB_SUB_CCD1
			FROM MK_FAQ WHERE LANG_CD = #{langCd}
		)B
		ON A.RELTD_LIB::integer = B.RELTD_SEQ_NO AND A.MV_LIB_CCD = B.LIB_SUB_CCD1
 		WHERE A.LANG_CD = #{langCd} 
		<if test="@com.bluewaves.lab.util.MyBatisUtil@isNotNull(searchType) and @com.bluewaves.lab.util.MyBatisUtil@isNotEmpty(searchType)">
           AND MV_LIB_CCD = #{searchType}
        </if>
         <if test="@com.bluewaves.lab.util.MyBatisUtil@isNotNull(searchValue) and @com.bluewaves.lab.util.MyBatisUtil@isNotEmpty(searchValue)">
			AND B.TITLE_NM ILIKE CONCAT ('%', #{searchValue}, '%')
		</if>
		ORDER BY A.LIB_SUB_MV_SEQ_NO DESC 
	</select>
	
	<select id="getDetail" parameterType="com.cellosquare.adminapp.admin.libsubmv.vo.AdminLibSubMvVO" resultType="com.cellosquare.adminapp.admin.libsubmv.vo.AdminLibSubMvVO">
		 SELECT
			  A.LIB_SUB_MV_SEQ_NO
			, A.LANG_CD
			, A.MV_LIB_CCD
			, FN_GETCODENM('LIBSUBMV_DIV', A.MV_LIB_CCD, A.LANG_CD) AS MV_LIB_CCD_NM
			, A.RELTD_LIB
			, A.ORDB
			, TO_CHAR(A.INS_DTM, 'YYYY-MM-DD') AS INS_DTM
			, A.INS_PERSON_ID
			, FN_GETMANAGERNM(A.INS_PERSON_ID) AS INS_PERSON_NM
			, TO_CHAR(A.UPD_DTM, 'YYYY-MM-DD') AS UPD_DTM
			, A.UPD_PERSON_ID
			, FN_GETMANAGERNM(A.UPD_PERSON_ID) AS UPD_PERSON_NM
			, CASE 
			WHEN A.MV_LIB_CCD ='LIBSUBMV_01' THEN
				CASE WHEN (SELECT COUNT(*) FROM MK_CELLO_NEWS WHERE NEWS_SEQ_NO = A.RELTD_LIB::integer AND USE_YN='Y') = 0 THEN 'N'
				ELSE A.USE_YN END
			WHEN A.MV_LIB_CCD ='LIBSUBMV_02' THEN
				CASE WHEN (SELECT COUNT(*) FROM MK_BLOG WHERE BLOG_SEQ_NO = A.RELTD_LIB::integer AND USE_YN='Y') = 0 THEN 'N'
				ELSE A.USE_YN END
			WHEN A.MV_LIB_CCD ='LIBSUBMV_03' THEN
				CASE WHEN (SELECT COUNT(*) FROM MK_RPT WHERE RPT_SEQ_NO = A.RELTD_LIB::integer AND USE_YN='Y') = 0 THEN 'N'
				ELSE A.USE_YN END
			WHEN A.MV_LIB_CCD ='LIBSUBMV_04' THEN
				CASE WHEN (SELECT COUNT(*) FROM MG_VIDEO WHERE VIDEO_SEQ_NO = A.RELTD_LIB::integer AND USE_YN='Y') = 0 THEN 'N'
				ELSE A.USE_YN END
			WHEN A.MV_LIB_CCD ='LIBSUBMV_05' THEN
				CASE WHEN (SELECT COUNT(*) FROM MK_FAQ WHERE FAQ_SEQ = A.RELTD_LIB::integer AND USE_YN='Y') = 0 THEN 'N'
				ELSE A.USE_YN END
			ELSE 'ERROR'
			END USE_YN 
			, CASE 
			WHEN A.MV_LIB_CCD ='LIBSUBMV_01' THEN
				CASE WHEN (SELECT COUNT(*) FROM MK_CELLO_NEWS WHERE NEWS_SEQ_NO = A.RELTD_LIB::integer AND USE_YN='Y') = 0 THEN FN_GETCODENM('USE_YN', 'N', A.LANG_CD) 
				ELSE FN_GETCODENM('USE_YN',A.USE_YN, A.LANG_CD) END
			WHEN A.MV_LIB_CCD ='LIBSUBMV_02' THEN
				CASE WHEN (SELECT COUNT(*) FROM MK_BLOG WHERE BLOG_SEQ_NO = A.RELTD_LIB::integer AND USE_YN='Y') = 0 THEN FN_GETCODENM('USE_YN', 'N', A.LANG_CD) 
				ELSE FN_GETCODENM('USE_YN',A.USE_YN, A.LANG_CD) END
			WHEN A.MV_LIB_CCD ='LIBSUBMV_03' THEN
				CASE WHEN (SELECT COUNT(*) FROM MK_RPT WHERE RPT_SEQ_NO = A.RELTD_LIB::integer AND USE_YN='Y') = 0 THEN FN_GETCODENM('USE_YN', 'N', A.LANG_CD) 
				ELSE FN_GETCODENM('USE_YN',A.USE_YN, A.LANG_CD) END
			WHEN A.MV_LIB_CCD ='LIBSUBMV_04' THEN
				CASE WHEN (SELECT COUNT(*) FROM MG_VIDEO WHERE VIDEO_SEQ_NO = A.RELTD_LIB::integer AND USE_YN='Y') = 0 THEN FN_GETCODENM('USE_YN', 'N', A.LANG_CD) 
				ELSE FN_GETCODENM('USE_YN',A.USE_YN, A.LANG_CD) END
			WHEN A.MV_LIB_CCD ='LIBSUBMV_05' THEN
				CASE WHEN (SELECT COUNT(*) FROM MK_FAQ WHERE FAQ_SEQ = A.RELTD_LIB::integer AND USE_YN='Y') = 0 THEN FN_GETCODENM('USE_YN', 'N', A.LANG_CD) 
				ELSE FN_GETCODENM('USE_YN',A.USE_YN, A.LANG_CD) END
			ELSE 'ERROR' 
			END USE_YN_NM
			, B.*
		FROM MK_LIB_SUB_MV A
		JOIN ( 
			SELECT
				  NEWS_SEQ_NO AS RELTD_SEQ_NO
				, TITLE_NM 
				, FN_GETCODENM('CELLO_NEWS', NEWS_CCD1, LANG_CD) AS CCDS_NM
				, PC_LIST_IMG_PATH
				, PC_LIST_IMG_ORG_FILE_NM
				, PC_LIST_IMG_FILE_NM
				, PC_LIST_IMG_ALT
				, MOBILE_LIST_IMG_PATH 
				, MOBILE_LIST_IMG_ORG_FILE_NM
				, MOBILE_LIST_IMG_FILE_NM
				, MOBILE_LIST_IMG_ALT
				, 'LIBSUBMV_01' AS LIB_SUB_CCD1
			FROM MK_CELLO_NEWS WHERE LANG_CD = #{langCd}
			UNION ALL
			SELECT
				  BLOG_SEQ_NO AS RELTD_SEQ_NO
				, TITLE_NM 
				, FN_GETCODENM('BLOG_DIV', BLOG_CCD1, LANG_CD) AS CCDS_NM
				, PC_LIST_IMG_PATH
				, PC_LIST_IMG_ORG_FILE_NM
				, PC_LIST_IMG_FILE_NM
				, PC_LIST_IMG_ALT
				, MOBILE_LIST_IMG_PATH 
				, MOBILE_LIST_IMG_ORG_FILE_NM
				, MOBILE_LIST_IMG_FILE_NM
				, MOBILE_LIST_IMG_ALT
				, 'LIBSUBMV_02' AS LIB_SUB_CCD1
			FROM MK_BLOG WHERE LANG_CD = #{langCd}
			UNION ALL
			SELECT
				  RPT_SEQ_NO AS RELTD_SEQ_NO
				, TITLE_NM 
				, FN_GETCODENM('REPORT_DIV', RPT_CCD, LANG_CD) AS CCDS_NM
				, PC_LIST_IMG_PATH
				, PC_LIST_IMG_ORG_FILE_NM
				, PC_LIST_IMG_FILE_NM
				, PC_LIST_IMG_ALT
				, MOBILE_LIST_IMG_PATH 
				, MOBILE_LIST_IMG_ORG_FILE_NM
				, MOBILE_LIST_IMG_FILE_NM
				, MOBILE_LIST_IMG_ALT
				, 'LIBSUBMV_03' AS LIB_SUB_CCD1
			FROM MK_RPT WHERE LANG_CD = #{langCd}
			UNION ALL
			SELECT
				  VIDEO_SEQ_NO AS RELTD_SEQ_NO
				, TITLE_NM 
				, FN_GETCODENM('VIDEO_DIV', VIDEO_CCD, LANG_CD) AS CCDS_NM
				, PC_LIST_IMG_PATH
				, PC_LIST_IMG_ORG_FILE_NM
				, PC_LIST_IMG_FILE_NM
				, PC_LIST_IMG_ALT
				, MOBILE_LIST_IMG_PATH 
				, MOBILE_LIST_IMG_ORG_FILE_NM
				, MOBILE_LIST_IMG_FILE_NM
				, MOBILE_LIST_IMG_ALT
				, 'LIBSUBMV_04' AS LIB_SUB_CCD1
			FROM MG_VIDEO WHERE LANG_CD = #{langCd}
			UNION ALL
			SELECT
				  FAQ_SEQ AS RELTD_SEQ_NO
				, TITLE_NM 
				, FN_GETCODENM('FAQ_DIV', FAQ_CCD, LANG_CD) AS CCDS_NM
				, ''AS PC_LIST_IMG_PATH
				, ''AS PC_LIST_IMG_ORG_FILE_NM
				, ''AS PC_LIST_IMG_FILE_NM
				, ''AS PC_LIST_IMG_ALT
				, ''AS MOBILE_LIST_IMG_PATH 
				, ''AS MOBILE_LIST_IMG_ORG_FILE_NM
				, ''AS MOBILE_LIST_IMG_FILE_NM
				, ''AS MOBILE_LIST_IMG_ALT
				, 'LIBSUBMV_05' AS LIB_SUB_CCD1
			FROM MK_FAQ WHERE LANG_CD = #{langCd}
		)B
		ON A.RELTD_LIB::integer = B.RELTD_SEQ_NO AND A.MV_LIB_CCD = B.LIB_SUB_CCD1
 		WHERE A.LANG_CD = #{langCd} 
		AND A.LIB_SUB_MV_SEQ_NO = #{libSubMvSeqNo}::integer
	 </select>
	 
	 <insert id="regist" parameterType="com.cellosquare.adminapp.admin.libsubmv.vo.AdminLibSubMvVO" useGeneratedKeys="true" keyProperty="libSubMvSeqNo">
		INSERT INTO MK_LIB_SUB_MV (
			  LANG_CD
			, MV_LIB_CCD
			, RELTD_LIB
			, USE_YN
			, INS_DTM
			, INS_PERSON_ID
			, UPD_DTM
			, UPD_PERSON_ID
		) VALUES (
			  #{langCd}
			, #{mvLibCcd}
			, #{reltdLib}
			, #{useYn}
			, NOW()
			, #{insPersonId}
			, NOW()
			, #{updPersonId}
		)
	</insert>
	
	<update id="doUpdate" parameterType="com.cellosquare.adminapp.admin.libsubmv.vo.AdminLibSubMvVO">
	UPDATE MK_LIB_SUB_MV
	SET
		  MV_LIB_CCD				= #{mvLibCcd}
		, RELTD_LIB					= #{reltdLib}
		, USE_YN 					= #{useYn}
		, UPD_DTM 					= NOW()
		, UPD_PERSON_ID 			= #{updPersonId}
	WHERE LIB_SUB_MV_SEQ_NO = #{libSubMvSeqNo}::integer
	</update>
	
	<delete id="doDelete" parameterType="com.cellosquare.adminapp.admin.libsubmv.vo.AdminLibSubMvVO">
	DELETE FROM MK_LIB_SUB_MV
	WHERE LIB_SUB_MV_SEQ_NO = #{libSubMvSeqNo}::integer
	</delete>
	
	<update id="doSortOrder" parameterType="com.cellosquare.adminapp.admin.libsubmv.vo.AdminLibSubMvVO">
		UPDATE MK_LIB_SUB_MV SET
			ORDB = #{ordb}
		WHERE LIB_SUB_MV_SEQ_NO = #{libSubMvSeqNo}::integer
	</update>
	
	<select id="getPopUpList" parameterType="com.cellosquare.adminapp.admin.libsubmv.vo.AdminLibSubMvVO" resultType="com.cellosquare.adminapp.admin.libsubmv.vo.AdminLibSubMvVO">
		SELECT
			 A.*
		FROM(
			SELECT
				  NEWS_SEQ_NO AS RELTD_SEQ_NO
				, TITLE_NM 
				, 'LIBSUBMV_01' AS LIB_SUB_CCD1
				, FN_GETCODENM('LIBSUBMV_DIV', 'LIBSUBMV_01', LANG_CD) AS LIB_SUB_CCD1_NM
				, NEWS_CCD1 AS LIB_SUB_CCD2
				, FN_GETCODENM('CELLO_NEWS', NEWS_CCD1, LANG_CD) AS LIB_SUB_CCD2_NM
				, INS_DTM
			FROM MK_CELLO_NEWS WHERE LANG_CD = #{langCd}
			AND NEWS_SEQ_NO NOT IN (SELECT RELTD_LIB::INTEGER FROM MK_LIB_SUB_MV WHERE MV_LIB_CCD = 'LIBSUBMV_01')
			UNION ALL
			SELECT
				  BLOG_SEQ_NO AS RELTD_SEQ_NO
				, TITLE_NM 
				, 'LIBSUBMV_02' AS LIB_SUB_CCD1
				, FN_GETCODENM('LIBSUBMV_DIV', 'LIBSUBMV_02', LANG_CD) AS LIB_SUB_CCD1_NM
				, BLOG_CCD1 AS LIB_SUB_CCD2
				, FN_GETCODENM('BLOG_DIV', BLOG_CCD1, LANG_CD) AS LIB_SUB_CCD2_NM
				, INS_DTM
			FROM MK_BLOG WHERE LANG_CD = #{langCd}
			AND BLOG_SEQ_NO NOT IN (SELECT RELTD_LIB::INTEGER FROM MK_LIB_SUB_MV WHERE MV_LIB_CCD = 'LIBSUBMV_02')
			UNION ALL
			SELECT
				  RPT_SEQ_NO AS RELTD_SEQ_NO
				, TITLE_NM 
				, 'LIBSUBMV_03' AS LIB_SUB_CCD1
				, FN_GETCODENM('LIBSUBMV_DIV', 'LIBSUBMV_03', LANG_CD) AS LIB_SUB_CCD1_NM
				, RPT_CCD AS LIB_SUB_CCD2
				, FN_GETCODENM('REPORT_DIV', RPT_CCD, LANG_CD) AS LIB_SUB_CCD2_NM
				, INS_DTM
			FROM MK_RPT WHERE LANG_CD = #{langCd}
			AND RPT_SEQ_NO NOT IN (SELECT RELTD_LIB::INTEGER FROM MK_LIB_SUB_MV WHERE MV_LIB_CCD = 'LIBSUBMV_03')
			UNION ALL
			SELECT
				  VIDEO_SEQ_NO AS RELTD_SEQ_NO
				, TITLE_NM 
				, 'LIBSUBMV_04' AS LIB_SUB_CCD1
				, FN_GETCODENM('LIBSUBMV_DIV', 'LIBSUBMV_04', LANG_CD) AS LIB_SUB_CCD1_NM
				, VIDEO_CCD AS LIB_SUB_CCD2
				, FN_GETCODENM('VIDEO_DIV', VIDEO_CCD, LANG_CD) AS LIB_SUB_CCD2_NM
				, INS_DTM
			FROM MG_VIDEO WHERE LANG_CD = #{langCd}
			AND VIDEO_SEQ_NO NOT IN (SELECT RELTD_LIB::INTEGER FROM MK_LIB_SUB_MV WHERE MV_LIB_CCD = 'LIBSUBMV_04')
			UNION ALL
			SELECT
				  FAQ_SEQ AS RELTD_SEQ_NO
				, TITLE_NM 
				, 'LIBSUBMV_05' AS LIB_SUB_CCD1
				, FN_GETCODENM('LIBSUBMV_DIV', 'LIBSUBMV_05', LANG_CD) AS LIB_SUB_CCD1_NM
				, FAQ_CCD AS LIB_SUB_CCD2
				, FN_GETCODENM('FAQ_DIV', FAQ_CCD, LANG_CD) AS LIB_SUB_CCD2_NM
				, INS_DTM
			FROM MK_FAQ WHERE LANG_CD = #{langCd}
			AND FAQ_SEQ NOT IN (SELECT RELTD_LIB::INTEGER FROM MK_LIB_SUB_MV WHERE MV_LIB_CCD = 'LIBSUBMV_05')
		)A	 
		WHERE 1=1
		<if test="@com.bluewaves.lab.util.MyBatisUtil@isNotNull(searchType) and @com.bluewaves.lab.util.MyBatisUtil@isNotEmpty(searchType)">
           AND A.LIB_SUB_CCD1 = #{searchType}
        </if>
        <if test="@com.bluewaves.lab.util.MyBatisUtil@isNotNull(libSearchValue) and @com.bluewaves.lab.util.MyBatisUtil@isNotEmpty(libSearchValue)">
			AND A.TITLE_NM ILIKE CONCAT ('%', #{libSearchValue}, '%')
		</if>
		ORDER BY A.INS_DTM DESC
		LIMIT #{endRow} OFFSET #{startRow}
	</select>
	
	<select id="popupTotalCount" parameterType="com.cellosquare.adminapp.admin.libsubmv.vo.AdminLibSubMvVO" resultType="int">
		SELECT COUNT(A.*)
		FROM(
			SELECT
				  NEWS_SEQ_NO AS RELTD_SEQ_NO
				, TITLE_NM 
				, 'LIBSUBMV_01' AS LIB_SUB_CCD1
				, FN_GETCODENM('LIBSUBMV_DIV', 'LIBSUBMV_01', LANG_CD) AS LIB_SUB_CCD1_NM
				, NEWS_CCD1 AS LIB_SUB_CCD2
				, FN_GETCODENM('CELLO_NEWS', NEWS_CCD1, LANG_CD) AS LIB_SUB_CCD2_NM
				, INS_DTM
			FROM MK_CELLO_NEWS WHERE LANG_CD = #{langCd}
			AND NEWS_SEQ_NO NOT IN (SELECT RELTD_LIB::INTEGER FROM MK_LIB_SUB_MV WHERE MV_LIB_CCD = 'LIBSUBMV_01')
			UNION ALL
			SELECT
				  BLOG_SEQ_NO AS RELTD_SEQ_NO
				, TITLE_NM 
				, 'LIBSUBMV_02' AS LIB_SUB_CCD1
				, FN_GETCODENM('LIBSUBMV_DIV', 'LIBSUBMV_02', LANG_CD) AS LIB_SUB_CCD1_NM
				, BLOG_CCD1 AS LIB_SUB_CCD2
				, FN_GETCODENM('BLOG_DIV', BLOG_CCD1, LANG_CD) AS LIB_SUB_CCD2_NM
				, INS_DTM
			FROM MK_BLOG WHERE LANG_CD = #{langCd}
			AND BLOG_SEQ_NO NOT IN (SELECT RELTD_LIB::INTEGER FROM MK_LIB_SUB_MV WHERE MV_LIB_CCD = 'LIBSUBMV_02')
			UNION ALL
			SELECT
				  RPT_SEQ_NO AS RELTD_SEQ_NO
				, TITLE_NM 
				, 'LIBSUBMV_03' AS LIB_SUB_CCD1
				, FN_GETCODENM('LIBSUBMV_DIV', 'LIBSUBMV_03', LANG_CD) AS LIB_SUB_CCD1_NM
				, RPT_CCD AS LIB_SUB_CCD2
				, FN_GETCODENM('REPORT_DIV', RPT_CCD, LANG_CD) AS LIB_SUB_CCD2_NM
				, INS_DTM
			FROM MK_RPT WHERE LANG_CD = #{langCd}
			AND RPT_SEQ_NO NOT IN (SELECT RELTD_LIB::INTEGER FROM MK_LIB_SUB_MV WHERE MV_LIB_CCD = 'LIBSUBMV_03')
			UNION ALL
			SELECT
				  VIDEO_SEQ_NO AS RELTD_SEQ_NO
				, TITLE_NM 
				, 'LIBSUBMV_04' AS LIB_SUB_CCD1
				, FN_GETCODENM('LIBSUBMV_DIV', 'LIBSUBMV_04', LANG_CD) AS LIB_SUB_CCD1_NM
				, VIDEO_CCD AS LIB_SUB_CCD2
				, FN_GETCODENM('VIDEO_DIV', VIDEO_CCD, LANG_CD) AS LIB_SUB_CCD2_NM
				, INS_DTM
			FROM MG_VIDEO WHERE LANG_CD = #{langCd}
			AND VIDEO_SEQ_NO NOT IN (SELECT RELTD_LIB::INTEGER FROM MK_LIB_SUB_MV WHERE MV_LIB_CCD = 'LIBSUBMV_04')
			UNION ALL
			SELECT
				  FAQ_SEQ AS RELTD_SEQ_NO
				, TITLE_NM 
				, 'LIBSUBMV_05' AS LIB_SUB_CCD1
				, FN_GETCODENM('LIBSUBMV_DIV', 'LIBSUBMV_05', LANG_CD) AS LIB_SUB_CCD1_NM
				, FAQ_CCD AS LIB_SUB_CCD2
				, FN_GETCODENM('FAQ_DIV', FAQ_CCD, LANG_CD) AS LIB_SUB_CCD2_NM
				, INS_DTM
			FROM MK_FAQ WHERE LANG_CD = #{langCd}
			AND FAQ_SEQ NOT IN (SELECT RELTD_LIB::INTEGER FROM MK_LIB_SUB_MV WHERE MV_LIB_CCD = 'LIBSUBMV_05')
		)A	 
		WHERE 1=1
		<if test="@com.bluewaves.lab.util.MyBatisUtil@isNotNull(searchType) and @com.bluewaves.lab.util.MyBatisUtil@isNotEmpty(searchType)">
           AND A.LIB_SUB_CCD1 = #{searchType}
        </if>
        <if test="@com.bluewaves.lab.util.MyBatisUtil@isNotNull(libSearchValue) and @com.bluewaves.lab.util.MyBatisUtil@isNotEmpty(libSearchValue)">
			AND A.TITLE_NM ILIKE CONCAT ('%', #{libSearchValue}, '%')
		</if>
		
	</select>
	
</mapper>