<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"   "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cellosquare.adminapp.admin.mvvideo.mapper.AdminMvVideoMapper">

<select id="getTotalCount" parameterType="com.cellosquare.adminapp.admin.mvvideo.vo.AdminMvVideoVO" resultType="int">
		SELECT COUNT(*)
		FROM MK_MV_VIDEO A
		left join MG_VIDEO B
		ON A.RELTD_VIDEO::integer = B.VIDEO_SEQ_NO
		WHERE A.LANG_CD = #{langCd}
		<if test="@com.bluewaves.lab.util.MyBatisUtil@isNotNull(searchType) and @com.bluewaves.lab.util.MyBatisUtil@isNotEmpty(searchType)">
			AND A.MV_VIDEO_CCD = #{searchType}
		</if>
		<if test="@com.bluewaves.lab.util.MyBatisUtil@isNotNull(searchValue) and @com.bluewaves.lab.util.MyBatisUtil@isNotEmpty(searchValue)">
			AND A.TITLE_NM ILIKE CONCAT ('%', #{searchValue}, '%')
		</if>		
	</select>

	<select id="getList" parameterType="com.cellosquare.adminapp.admin.mvvideo.vo.AdminMvVideoVO" resultType="com.cellosquare.adminapp.admin.mvvideo.vo.AdminMvVideoVO">
		SELECT
			  A.MV_VIDEO_SEQ_NO
			, A.LANG_CD
			, A.MV_VIDEO_CCD
			, B.TITLE_NM
			, FN_GETCODENM('MVVIDEO_DIV', A.MV_VIDEO_CCD, A.LANG_CD) AS MV_VIDEO_CCD_NM
			, A.RELTD_VIDEO
			, A.TITLE_NM AS MV_TITLE_NM
			, A.SUMMARY_INFO
			, A.short_Info
			, A.content
			, A.PC_LIST_IMG_PATH
			, A.PC_LIST_IMG_ORG_FILE_NM
			, A.PC_LIST_IMG_FILE_NM
			, A.PC_LIST_IMG_ALT
			, A.MOBILE_LIST_IMG_PATH 
			, A.MOBILE_LIST_IMG_ORG_FILE_NM
			, A.MOBILE_LIST_IMG_FILE_NM
			, A.MOBILE_LIST_IMG_ALT
			, A.ORDB
			, TO_CHAR(A.INS_DTM, 'YYYY-MM-DD') AS INS_DTM
			, A.INS_PERSON_ID
			, FN_GETMANAGERNM(A.INS_PERSON_ID) AS INS_PERSON_NM
			, TO_CHAR(A.UPD_DTM, 'YYYY-MM-DD') AS UPD_DTM
			, A.UPD_PERSON_ID
			, FN_GETMANAGERNM(A.UPD_PERSON_ID) AS UPD_PERSON_NM
			, A.USE_YN
			, A.meta_seq_no
			, FN_GETCODENM('USE_YN',A.USE_YN, A.LANG_CD) AS USE_YN_NM
		FROM MK_MV_VIDEO A
		left join MG_VIDEO B
		ON A.RELTD_VIDEO::integer = B.VIDEO_SEQ_NO
		WHERE A.LANG_CD = #{langCd}
		<if test="@com.bluewaves.lab.util.MyBatisUtil@isNotNull(searchType) and @com.bluewaves.lab.util.MyBatisUtil@isNotEmpty(searchType)">
			AND MV_VIDEO_CCD = #{searchType}
		</if>
		<if test="@com.bluewaves.lab.util.MyBatisUtil@isNotNull(searchValue) and @com.bluewaves.lab.util.MyBatisUtil@isNotEmpty(searchValue)">
			AND A.TITLE_NM ILIKE CONCAT ('%', #{searchValue}, '%')
		</if>
		ORDER BY A.INS_DTM DESC
	</select>
	
	<select id="getDetail" parameterType="com.cellosquare.adminapp.admin.mvvideo.vo.AdminMvVideoVO" resultType="com.cellosquare.adminapp.admin.mvvideo.vo.AdminMvVideoVO">
		 SELECT
			A.MV_VIDEO_SEQ_NO
			, A.LANG_CD
			, A.MV_VIDEO_CCD
			, FN_GETCODENM('MVVIDEO_DIV', A.MV_VIDEO_CCD, A.LANG_CD) AS MV_VIDEO_CCD_NM
			, A.RELTD_VIDEO
			, B.TITLE_NM
			, A.TITLE_NM AS MV_TITLE_NM
			, A.SUMMARY_INFO
			, A.short_Info
			, A.content
			, A.PC_LIST_IMG_PATH
			, A.PC_LIST_IMG_ORG_FILE_NM
			, A.PC_LIST_IMG_FILE_NM
			, A.PC_LIST_IMG_ALT
			, A.MOBILE_LIST_IMG_PATH 
			, A.MOBILE_LIST_IMG_ORG_FILE_NM
			, A.MOBILE_LIST_IMG_FILE_NM
			, A.MOBILE_LIST_IMG_ALT
			, WRT_INFO1
			, WRT_INFO2
			, A.ORDB
			, TO_CHAR(A.INS_DTM, 'YYYY-MM-DD') AS INS_DTM
			, A.INS_PERSON_ID
			, FN_GETMANAGERNM(A.INS_PERSON_ID) AS INS_PERSON_NM
			, TO_CHAR(A.UPD_DTM, 'YYYY-MM-DD') AS UPD_DTM
			, A.UPD_PERSON_ID
			, FN_GETMANAGERNM(A.UPD_PERSON_ID) AS UPD_PERSON_NM
			, A.USE_YN
			, A.meta_seq_no
			, FN_GETCODENM('USE_YN',A.USE_YN, A.LANG_CD) AS USE_YN_NM
		FROM MK_MV_VIDEO A
		left join MG_VIDEO B
		ON A.RELTD_VIDEO::integer = B.VIDEO_SEQ_NO
		WHERE 1=1 
		AND A.MV_VIDEO_SEQ_NO = #{mvVideoSeqNo}::integer
	</select>
	
	<insert id="doWrite" parameterType="com.cellosquare.adminapp.admin.mvvideo.vo.AdminMvVideoVO" useGeneratedKeys="true" keyProperty="mvVideoSeqNo">
		INSERT INTO MK_MV_VIDEO (
			 LANG_CD
			, MV_VIDEO_CCD
			, RELTD_VIDEO
			, TITLE_NM
			, SUMMARY_INFO
			, short_Info
			, content
			, PC_LIST_IMG_PATH
			, PC_LIST_IMG_ORG_FILE_NM
			, PC_LIST_IMG_FILE_NM
			, PC_LIST_IMG_SIZE
			, PC_LIST_IMG_ALT
			, MOBILE_LIST_IMG_PATH 
			, MOBILE_LIST_IMG_ORG_FILE_NM
			, MOBILE_LIST_IMG_FILE_NM
			, MOBILE_LIST_IMG_SIZE 
			, MOBILE_LIST_IMG_ALT
			, WRT_INFO1
			, WRT_INFO2
			, USE_YN
			, INS_DTM
			, INS_PERSON_ID
			, UPD_DTM
			, UPD_PERSON_ID
			, meta_seq_no
		) VALUES (
			 #{langCd}
			, #{mvVideoCcd}
			, #{relVideoSeqNo}
			, #{titleNm}
			, #{summaryInfo}
			, #{shortInfo}
			, #{content}
			, #{pcListImgPath}
			, #{pcListImgOrgFileNm}
			, #{pcListImgFileNm}
			, #{pcListImgSize}::integer
			, #{pcListImgAlt}
			, #{mobileListImgPath}
			, #{mobileListImgOrgFileNm}
			, #{mobileListImgFileNm}
			, #{mobileListImgSize}::integer
			, #{mobileListImgAlt}
			, #{wrtInfo1}
			, #{wrtInfo2}
			, #{useYn}
			, NOW()
			, #{insPersonId}
			, NOW()
			, #{updPersonId}
			, #{metaSeqNo}::integer
		)
	</insert>
	
	<update id="doUpdate" parameterType="com.cellosquare.adminapp.admin.mvvideo.vo.AdminMvVideoVO">
	UPDATE MK_MV_VIDEO
	SET
		 TITLE_NM 						 = #{titleNm}
		, SUMMARY_INFO 					 = #{summaryInfo}
		, short_Info 					 = #{shortInfo}
		, content 					 = #{content}
		, MV_VIDEO_CCD					 = #{mvVideoCcd}
		, RELTD_VIDEO					 = #{relVideoSeqNo}
		, PC_LIST_IMG_PATH			     = #{pcListImgPath}
		, PC_LIST_IMG_ORG_FILE_NM        = #{pcListImgOrgFileNm}
		, PC_LIST_IMG_FILE_NM            = #{pcListImgFileNm}
		, PC_LIST_IMG_SIZE               = #{pcListImgSize}::integer
		, PC_LIST_IMG_ALT                = #{pcListImgAlt}
		, MOBILE_LIST_IMG_PATH			 = #{mobileListImgPath}
		, MOBILE_LIST_IMG_ORG_FILE_NM    = #{mobileListImgOrgFileNm}
		, MOBILE_LIST_IMG_FILE_NM        = #{mobileListImgFileNm}
		, MOBILE_LIST_IMG_SIZE           = #{mobileListImgSize}::integer
		, MOBILE_LIST_IMG_ALT            = #{mobileListImgAlt}
		, WRT_INFO1						 = #{wrtInfo1}
		, WRT_INFO2						 = #{wrtInfo2}
		, USE_YN 						 = #{useYn}
		, UPD_DTM 						 = NOW()
		, UPD_PERSON_ID 				 = #{updPersonId}
	WHERE MV_VIDEO_SEQ_NO = #{mvVideoSeqNo}::integer
	</update>
	
	<delete id="doDelete" parameterType="com.cellosquare.adminapp.admin.mvvideo.vo.AdminMvVideoVO">
	DELETE FROM MK_MV_VIDEO
	WHERE MV_VIDEO_SEQ_NO = #{mvVideoSeqNo}::integer
	</delete>
	
	<update id="doSortOrder" parameterType="com.cellosquare.adminapp.admin.mvvideo.vo.AdminMvVideoVO">
		UPDATE MK_MV_VIDEO SET
			ORDB = #{ordb}
		WHERE MV_VIDEO_SEQ_NO = #{mvVideoSeqNo}::integer
	</update>
	
	<select id="getPopUpList" parameterType="com.cellosquare.adminapp.admin.video.vo.AdminVideoVO" resultType="com.cellosquare.adminapp.admin.video.vo.AdminVideoVO">
		SELECT
			  A.VIDEO_SEQ_NO
			, A.LANG_CD
			, A.VIDEO_CCD
			, FN_GETCODENM('VIDEO_DIV', A.VIDEO_CCD, A.LANG_CD) AS VIDEO_CCD_NM 
			, A.TITLE_NM
			, A.USE_YN
			, FN_GETCODENM('USE_YN', A.USE_YN, A.LANG_CD) AS USE_YN_NM
		FROM MG_VIDEO A
		WHERE 1=1
		AND A.LANG_CD = #{langCd}
		<!-- AND A.USE_YN = 'Y' -->
		<!-- AND A.VIDEO_SEQ_NO NOT IN (SELECT RELTD_VIDEO::integer FROM MK_MV_VIDEO) -->
		<!-- 수정에서 값이 있으면 수정상품의 항목을 제외함 -->
		<if test="@com.bluewaves.lab.util.MyBatisUtil@isNotNull(videoSeqNo) and @com.bluewaves.lab.util.MyBatisUtil@isNotEmpty(videoSeqNo)">
			AND A.VIDEO_SEQ_NO != #{videoSeqNo}::integer
		</if>
		<if test="@com.bluewaves.lab.util.MyBatisUtil@isNotNull(videoSearchValue) and @com.bluewaves.lab.util.MyBatisUtil@isNotEmpty(videoSearchValue)">
			AND A.TITLE_NM ILIKE CONCAT ('%', #{videoSearchValue}, '%')
		</if>
	ORDER BY A.VIDEO_SEQ_NO DESC
	LIMIT #{endRow} OFFSET #{startRow}
	</select>
	
	<!-- <select id="getVdoNm" parameterType="com.cellosquare.adminapp.admin.mvvideo.vo.AdminMvVideoVO" resultType="String">
		SELECT 
			TITLE_NM 
		FROM MG_VIDEO 
		WHERE VIDEO_SEQ_NO = #{videoSeqNo}::integer
	</select>  -->

	<select id="popupTotalCount" parameterType="com.cellosquare.adminapp.admin.video.vo.AdminVideoVO" resultType="int">
		SELECT COUNT(*)
		FROM MG_VIDEO
		WHERE 1=1
		AND LANG_CD = #{langCd}
		<!-- AND USE_YN = 'Y' -->
		<!-- AND VIDEO_SEQ_NO NOT IN (SELECT RELTD_VIDEO::integer FROM MK_MV_VIDEO) -->
		<!-- 수정에서 값이 있으면 수정상품의 항목을 제외함 -->
		<if test="@com.bluewaves.lab.util.MyBatisUtil@isNotNull(videoSeqNo) and @com.bluewaves.lab.util.MyBatisUtil@isNotEmpty(videoSeqNo)">
			AND VIDEO_SEQ_NO != #{videoSeqNo}::integer
		</if>
		<if test="@com.bluewaves.lab.util.MyBatisUtil@isNotNull(videoSearchValue) and @com.bluewaves.lab.util.MyBatisUtil@isNotEmpty(videoSearchValue)">
			AND TITLE_NM ILIKE CONCAT ('%', #{videoSearchValue}, '%')
		</if>
	</select>
	
</mapper>