<?xml version="1.0" encoding="utf-8"?>
<Configuration>
	<Product>
		<Name>Namo CrossEditor</Name>
		<Logo></Logo>
		<Help></Help>
		<Info></Info>
	</Product>
	<General>
		<WebServerOS>LINUX</WebServerOS>
		<WebServerInfo>Tomcat</WebServerInfo>
		<WebLanguage>JSP</WebLanguage>
		<ImageSavePath></ImageSavePath>
		<Width>730</Width>
		<Height>450</Height>
		<UploadFileNameType>real</UploadFileNameType>
		<UploadFileViewer>false</UploadFileViewer>
		<UploadFileSizeLimit></UploadFileSizeLimit>
		<UploadFileSubDir>true</UploadFileSubDir>
		<UploadFileExtBlockList>0|zip,doc,docx,xlsx,xls</UploadFileExtBlockList>
		<UploadImageFileExtBlockList>0|gif,jpeg,jpg,png,bmp</UploadImageFileExtBlockList>
		<AttributeBlockList>0|onclick,onerror,onblur</AttributeBlockList>
		<TagBlockList>0|script,iframe</TagBlockList>
		<Template></Template>
		<ServerUrl></ServerUrl>
		<ResizeBar>true</ResizeBar>
		<MenuInEditor></MenuInEditor>
		<AutoSavePeriod></AutoSavePeriod>
		<HideAddImageCheckbox>false</HideAddImageCheckbox>
		<RemoveScriptBlock></RemoveScriptBlock>
		<ClipBoardFontFamily></ClipBoardFontFamily>
		<ClipBoardFontSize></ClipBoardFontSize>
		<ContextMenuPasteText></ContextMenuPasteText>
	</General>
	<Editor>
		<SetFocus>true</SetFocus>
		<LineHeight></LineHeight>
		<UnloadWarning>false</UnloadWarning>
		<SetDebug>false</SetDebug>
		<HTMLTabByTableLock>false</HTMLTabByTableLock>
		<HTMLTabContents>body</HTMLTabContents>
		<AccessibilityOption>0</AccessibilityOption>
		<FontColor>#000000</FontColor>
		<FontSizeList>7.5pt,8pt,9pt,10pt,11pt,12pt,14pt,16pt,18pt,20pt,22pt,24pt,26pt,28pt,36pt,40pt</FontSizeList>
		<LineHeightList>100%,120%,140%,150%,160%,180%,200%</LineHeightList>
		<IndentPaddingValue>40</IndentPaddingValue>
		<ReturnKeyActionBR>false</ReturnKeyActionBR>
		<ImgLineColor>#000000</ImgLineColor>
		<TableLineColor>#000000</TableLineColor>
		<TableBGColor>#FFFFFF</TableBGColor>
		<DefaultFont></DefaultFont>
		<DefaultFontSize></DefaultFontSize>
		<Placeholder>Please enter the content.</Placeholder>
		<Csslist></Csslist>
		<ProfanityStr></ProfanityStr>
		<LimitClipboardNodeCount>1000</LimitClipboardNodeCount>
		<PasteSelectFormat></PasteSelectFormat>
		<UseTagCleaner></UseTagCleaner>
	</Editor>
	<Document>
		<CharSet>zh-cn</CharSet>
		<DocBaseURL></DocBaseURL>
		<DocTitle></DocTitle>
		<AllowContentScript>true</AllowContentScript>
		<AllowContentIframe>true</AllowContentIframe>
		<MSOfficeTranON></MSOfficeTranON>
		<DefaultDocType></DefaultDocType>
	</Document>
	<UI>
		<Skin>default</Skin>
		<IconColor>default</IconColor>
		<UserSkinColor></UserSkinColor>
		<Css></Css>
		<UserToolbar>true</UserToolbar>
		<CreateToolbar></CreateToolbar>
		<CreateTab>0|1|2</CreateTab>
		<IsQuestAutoSave></IsQuestAutoSave>
		<Menu>true</Menu>
		<QuickMenu>true</QuickMenu>
		<DisplayLoadingBar>true</DisplayLoadingBar>
		<ShowRuler>false</ShowRuler>
	</UI>
	<ImageEditor>
		<CanvasWidth>1600</CanvasWidth>
		<CanvasHeight>1600</CanvasHeight>
	</ImageEditor>
	<User>
		<AddMenu></AddMenu>
	</User>
	<Plugins>
		<Version>1.0.0.21</Version>
		<Version_daemon>1.0.0.3</Version_daemon>
		<Version_com>1.0.0.16</Version_com>
		<SupportBrowser>1</SupportBrowser>
		<AutoInstall></AutoInstall>
	</Plugins>
</Configuration>
