<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"   "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cellosquare.adminapp.admin.goods.mapper.AdminGoodsMapper">

	<select id="getTotalCount" parameterType="com.cellosquare.adminapp.admin.goods.vo.AdminGoodsVO" resultType="int">
		SELECT COUNT(*)
		FROM MK_SQPRD
		WHERE 1=1
		AND LANG_CD = #{langCd}
		AND SQPRD_CTGRY = #{sqprdCtgry}
		<if test="@com.bluewaves.lab.util.MyBatisUtil@isNotNull(searchValue) and @com.bluewaves.lab.util.MyBatisUtil@isNotEmpty(searchValue)">
			<if test="@com.bluewaves.lab.util.MyBatisUtil@isEquals(searchType, 'search_sqprdNm')">
				AND SQPRD_NM ILIKE CONCAT ('%', #{searchValue}, '%')
			</if>
			<if test="@com.bluewaves.lab.util.MyBatisUtil@isEquals(searchType, 'search_InsPersonNm')">
				AND FN_GETMANAGERNM(INS_PERSON_ID) ILIKE CONCAT ('%', #{searchValue}, '%')
			</if>
		</if>
		
	</select>
	
	<select id="getList" parameterType="com.cellosquare.adminapp.admin.goods.vo.AdminGoodsVO" resultType="com.cellosquare.adminapp.admin.goods.vo.AdminGoodsVO">
		SELECT
			  A.SQPRD_SEQ_NO
			, A.META_SEQ_NO
			, A.LANG_CD
			, A.SQPRD_CTGRY
			, A.SQPRD_NM
			, A.SQPRD_ENG_NM
			, A.SQPRD_ATTN_ID
			, A.SQPRD_NAVY
			, TO_CHAR(TO_TIMESTAMP(SVC_VALID_STAT_DATE, 'YYYYMMDD'), 'YYYY-MM-DD') AS SVC_VALID_STAT_DATE
			, TO_CHAR(TO_TIMESTAMP(SVC_VALID_END_DATE, 'YYYYMMDD'), 'YYYY-MM-DD') AS SVC_VALID_END_DATE
			, A.SQPRD_SUMMARY_INFO
			, A.PC_LIST_IMG_PATH
			, A.PC_LIST_IMG_ORG_FILE_NM
			, A.PC_LIST_IMG_FILE_NM
			, A.PC_LIST_IMG_SIZE
			, A.PC_LIST_IMG_ALT
			, A.PC_DETL_IMG_PATH
			, A.PC_DETL_IMG_ORG_FILE_NM
			, A.PC_DETL_IMG_FILE_NM
			, A.PC_DETL_IMG_SIZE
			, A.PC_DETL_IMG_ALT
			, A.MOBILE_LIST_IMG_PATH 
			, A.MOBILE_LIST_IMG_ORG_FILE_NM
			, A.MOBILE_LIST_IMG_FILE_NM
			, A.MOBILE_LIST_IMG_SIZE 
			, A.MOBILE_LIST_IMG_ALT
			, A.MOBILE_DETL_IMG_PATH 
			, A.MOBILE_DETL_IMG_ORG_FILE_NM
			, A.MOBILE_DETL_IMG_FILE_NM
			, A.MOBILE_DETL_IMG_SIZE 
			, A.MOBILE_DETL_IMG_ALT
			, A.SQPRD_DETL_INFO
			, A.SQPRD_NOTI_CONTENTS
			, A.DEP_PORT_CD
			, A.ARRP_POT_CD
			, A.SHIP_TO
			, A.RELTD_SQPRD1
			, A.RELTD_SQPRD2
			, A.RELTD_SQPRD3
			, A.VIEW_TYPE_IMG
			, A.VIEW_TYPE_IMG_BKGR_COLOR_OPT
			, A.VIEW_TYPE_IMG_BKGR_COLOR_CCD
			, A.VIEW_TYPE_IMG_BKGR_COLOR_VAL
			, A.VIEW_TYPE_IMG_FROM
			, A.VIEW_TYPE_IMG_CCD
			, A.VIEW_TYPE_IMG_TO
			, A.VIEW_TYPE_IMG_HASH_TAG
			, A.VIEW_TYPE_IMG_PATH
			, A.VIEW_TYPE_IMG_ORG_FILE_NM
			, A.VIEW_TYPE_IMG_FILE_NM
			, A.VIEW_TYPE_IMG_SIZE
			, A.VIEW_TYPE_IMG_ALT
			, A.USE_YN
			, FN_GETCODENM('USE_YN', A.USE_YN, A.LANG_CD) AS USE_YN_NM
			, A.SRCH_CNT
			, A.ORDB
			, TO_CHAR(INS_DTM, 'YYYY-MM-DD') AS INS_DTM 
			, A.INS_PERSON_ID 
			, FN_GETMANAGERNM(A.INS_PERSON_ID) AS INS_PERSON_NM
			, TO_CHAR(UPD_DTM, 'YYYY-MM-DD') AS UPD_DTM
			, A.UPD_PERSON_ID
			, FN_GETMANAGERNM(A.UPD_PERSON_ID) AS UPD_PERSON_NM
		FROM MK_SQPRD A
		WHERE 1=1
		AND A.LANG_CD = #{langCd}
		AND A.SQPRD_CTGRY = #{sqprdCtgry}
		<if test="@com.bluewaves.lab.util.MyBatisUtil@isNotNull(searchValue) and @com.bluewaves.lab.util.MyBatisUtil@isNotEmpty(searchValue)">
			<if test="@com.bluewaves.lab.util.MyBatisUtil@isEquals(searchType, 'search_sqprdNm')">
				AND A.SQPRD_NM ILIKE CONCAT ('%', #{searchValue}, '%')
			</if>
			<if test="@com.bluewaves.lab.util.MyBatisUtil@isEquals(searchType, 'search_InsPersonNm')">
				AND FN_GETMANAGERNM(A.INS_PERSON_ID) ILIKE CONCAT ('%', #{searchValue}, '%')
			</if>
		</if>
	ORDER BY A.SQPRD_SEQ_NO DESC
	LIMIT #{endRow} OFFSET #{startRow}
	</select>
	
	<update id="doSortOrder" parameterType="com.cellosquare.adminapp.admin.goods.vo.AdminGoodsVO">
		UPDATE MK_SQPRD SET
			ORDB = #{ordb}
		WHERE 1=1
		AND SQPRD_CTGRY = #{sqprdCtgry}
		AND SQPRD_SEQ_NO = #{sqprdSeqNo}::integer
	</update>
	<select id="getDetail" parameterType="com.cellosquare.adminapp.admin.goods.vo.AdminGoodsVO" resultType="com.cellosquare.adminapp.admin.goods.vo.AdminGoodsVO">
		SELECT
			  A.SQPRD_SEQ_NO
			, A.META_SEQ_NO
			, A.LANG_CD
			, A.SQPRD_CTGRY
			, FN_GETCODENM('GOODS_DIV', A.SQPRD_CTGRY, A.LANG_CD) SQPRD_CTGRY_NM
			, A.SQPRD_NM
			, A.SQPRD_ENG_NM
			, A.SQPRD_ATTN_ID
			, A.SQPRD_NAVY
			, TO_CHAR(TO_TIMESTAMP(SVC_VALID_STAT_DATE, 'YYYYMMDD'), 'YYYY-MM-DD') AS SVC_VALID_STAT_DATE
			, TO_CHAR(TO_TIMESTAMP(SVC_VALID_END_DATE, 'YYYYMMDD'), 'YYYY-MM-DD') AS SVC_VALID_END_DATE
			, A.SQPRD_SUMMARY_INFO
			, A.PC_LIST_IMG_PATH
			, A.PC_LIST_IMG_ORG_FILE_NM
			, A.PC_LIST_IMG_FILE_NM
			, A.PC_LIST_IMG_SIZE
			, A.PC_LIST_IMG_ALT
			, A.PC_DETL_IMG_PATH
			, A.PC_DETL_IMG_ORG_FILE_NM
			, A.PC_DETL_IMG_FILE_NM
			, A.PC_DETL_IMG_SIZE
			, A.PC_DETL_IMG_ALT
			, A.MOBILE_LIST_IMG_PATH 
			, A.MOBILE_LIST_IMG_ORG_FILE_NM
			, A.MOBILE_LIST_IMG_FILE_NM
			, A.MOBILE_LIST_IMG_SIZE 
			, A.MOBILE_LIST_IMG_ALT
			, A.MOBILE_DETL_IMG_PATH 
			, A.MOBILE_DETL_IMG_ORG_FILE_NM
			, A.MOBILE_DETL_IMG_FILE_NM
			, A.MOBILE_DETL_IMG_SIZE 
			, A.MOBILE_DETL_IMG_ALT
			, A.SQPRD_DETL_INFO
			, A.SQPRD_NOTI_CONTENTS
			, A.DEP_PORT_CD
			, A.ARRP_POT_CD
			, A.SHIP_TO
			, A.SQPRD_OPT1
			, A.SQPRD_OPT2
			, A.SQPRD_OPT3
			, A.SQPRD_OPT4
			, A.SQPRD_OPT5
			, A.RELTD_SQPRD1
			, A.RELTD_SQPRD2
			, A.RELTD_SQPRD3
			, A.VIEW_TYPE_IMG
			, FN_GETCODENM('GOODS_VW_TP', A.VIEW_TYPE_IMG, A.LANG_CD) AS VIEW_TYPE_IMG_NM
			, A.VIEW_TYPE_IMG_BKGR_COLOR_OPT
			, FN_GETCODENM('GOODS_VW_BG_OP', A.VIEW_TYPE_IMG_BKGR_COLOR_OPT, A.LANG_CD) AS VIEW_TYPE_IMG_BKGR_COLOR_OPT_NM
			, A.VIEW_TYPE_IMG_BKGR_COLOR_CCD
			, FN_GETCODENM('GOODS_VW_BG', A.VIEW_TYPE_IMG_BKGR_COLOR_CCD, A.LANG_CD) AS VIEW_TYPE_IMG_BKGR_COLOR_CCD_NM
			, A.VIEW_TYPE_IMG_BKGR_COLOR_VAL
			, A.VIEW_TYPE_IMG_FROM
			, A.VIEW_TYPE_IMG_CCD
			, FN_GETCODENM('GOODS_VW_BG_DIV', A.VIEW_TYPE_IMG_CCD, A.LANG_CD) AS VIEW_TYPE_IMG_CCD_NM
			, A.VIEW_TYPE_IMG_TO
			, A.VIEW_TYPE_IMG_HASH_TAG
			, A.VIEW_TYPE_IMG_PATH
			, A.VIEW_TYPE_IMG_ORG_FILE_NM
			, A.VIEW_TYPE_IMG_FILE_NM
			, A.VIEW_TYPE_IMG_SIZE
			, A.VIEW_TYPE_IMG_ALT
			, A.USE_YN
			, FN_GETCODENM('USE_YN', A.USE_YN, A.LANG_CD) AS USE_YN_NM
			, A.SRCH_CNT
			, A.ORDB
			, TO_CHAR(INS_DTM, 'YYYY-MM-DD') AS INS_DTM 
			, A.INS_PERSON_ID 
			, FN_GETMANAGERNM(A.INS_PERSON_ID) AS INS_PERSON_NM
			, TO_CHAR(UPD_DTM, 'YYYY-MM-DD') AS UPD_DTM
			, A.UPD_PERSON_ID
			, FN_GETMANAGERNM(A.UPD_PERSON_ID) AS UPD_PERSON_NM
		FROM MK_SQPRD A
		WHERE 1=1
		AND A.SQPRD_SEQ_NO = #{sqprdSeqNo}::integer
	</select>

	<select id="popupTotalCount" parameterType="com.cellosquare.adminapp.admin.goods.vo.AdminGoodsVO" resultType="int">
		SELECT COUNT(*)
		FROM MK_SQPRD
		WHERE 1=1
		AND LANG_CD = #{langCd}
		<!-- 수정에서 값이 있으면 수정상품의 항목을 제외함 -->
		<if test="@com.bluewaves.lab.util.MyBatisUtil@isNotNull(sqprdSeqNo) and @com.bluewaves.lab.util.MyBatisUtil@isNotEmpty(sqprdSeqNo)">
			AND SQPRD_SEQ_NO != #{sqprdSeqNo}::integer
		</if>
		<if test="@com.bluewaves.lab.util.MyBatisUtil@isNotNull(goodsSearchValue) and @com.bluewaves.lab.util.MyBatisUtil@isNotEmpty(goodsSearchValue)">
			AND SQPRD_NM ILIKE CONCAT ('%', #{goodsSearchValue}, '%')
		</if>
		
	</select>

	<select id="getPopUpList" parameterType="com.cellosquare.adminapp.admin.goods.vo.AdminGoodsVO" resultType="com.cellosquare.adminapp.admin.goods.vo.AdminGoodsVO">
		SELECT
			  A.SQPRD_SEQ_NO
			, A.META_SEQ_NO
			, A.LANG_CD
			, A.SQPRD_CTGRY
			, FN_GETCODENM('GOODS_DIV', A.SQPRD_CTGRY, A.LANG_CD) AS SQPRD_CTGRY_NM 
			, A.SQPRD_NM
			, A.SQPRD_ENG_NM
			, A.SQPRD_ATTN_ID
			, A.SQPRD_NAVY
			, TO_CHAR(TO_TIMESTAMP(SVC_VALID_STAT_DATE, 'YYYYMMDD'), 'YYYY-MM-DD') AS SVC_VALID_STAT_DATE
			, TO_CHAR(TO_TIMESTAMP(SVC_VALID_END_DATE, 'YYYYMMDD'), 'YYYY-MM-DD') AS SVC_VALID_END_DATE
			, A.SQPRD_SUMMARY_INFO
			, A.PC_LIST_IMG_PATH
			, A.PC_LIST_IMG_ORG_FILE_NM
			, A.PC_LIST_IMG_FILE_NM
			, A.PC_LIST_IMG_SIZE
			, A.PC_LIST_IMG_ALT
			, A.PC_DETL_IMG_PATH
			, A.PC_DETL_IMG_ORG_FILE_NM
			, A.PC_DETL_IMG_FILE_NM
			, A.PC_DETL_IMG_SIZE
			, A.PC_DETL_IMG_ALT
			, A.MOBILE_LIST_IMG_PATH 
			, A.MOBILE_LIST_IMG_ORG_FILE_NM
			, A.MOBILE_LIST_IMG_FILE_NM
			, A.MOBILE_LIST_IMG_SIZE 
			, A.MOBILE_LIST_IMG_ALT
			, A.MOBILE_DETL_IMG_PATH 
			, A.MOBILE_DETL_IMG_ORG_FILE_NM
			, A.MOBILE_DETL_IMG_FILE_NM
			, A.MOBILE_DETL_IMG_SIZE 
			, A.MOBILE_DETL_IMG_ALT
			, A.SQPRD_DETL_INFO
			, A.SQPRD_NOTI_CONTENTS
			, A.DEP_PORT_CD
			, A.ARRP_POT_CD
			, A.SHIP_TO
			, A.RELTD_SQPRD1
			, A.RELTD_SQPRD2
			, A.RELTD_SQPRD3
			, A.VIEW_TYPE_IMG
			, A.VIEW_TYPE_IMG_BKGR_COLOR_OPT
			, A.VIEW_TYPE_IMG_BKGR_COLOR_CCD
			, A.VIEW_TYPE_IMG_BKGR_COLOR_VAL
			, A.VIEW_TYPE_IMG_FROM
			, A.VIEW_TYPE_IMG_CCD
			, A.VIEW_TYPE_IMG_TO
			, A.VIEW_TYPE_IMG_HASH_TAG
			, A.VIEW_TYPE_IMG_PATH
			, A.VIEW_TYPE_IMG_ORG_FILE_NM
			, A.VIEW_TYPE_IMG_FILE_NM
			, A.VIEW_TYPE_IMG_SIZE
			, A.VIEW_TYPE_IMG_ALT
			, A.USE_YN
			, FN_GETCODENM('USE_YN', A.USE_YN, A.LANG_CD) AS USE_YN_NM
			, A.SRCH_CNT
			, A.ORDB
			, TO_CHAR(INS_DTM, 'YYYY-MM-DD') AS INS_DTM 
			, A.INS_PERSON_ID 
			, FN_GETMANAGERNM(A.INS_PERSON_ID) AS INS_PERSON_NM
			, TO_CHAR(UPD_DTM, 'YYYY-MM-DD') AS UPD_DTM
			, A.UPD_PERSON_ID
			, FN_GETMANAGERNM(A.UPD_PERSON_ID) AS UPD_PERSON_NM
		FROM MK_SQPRD A
		WHERE 1=1
		AND LANG_CD = #{langCd}
		<!-- 수정에서 값이 있으면 수정상품의 항목을 제외함 -->
		<if test="@com.bluewaves.lab.util.MyBatisUtil@isNotNull(sqprdSeqNo) and @com.bluewaves.lab.util.MyBatisUtil@isNotEmpty(sqprdSeqNo)">
			AND SQPRD_SEQ_NO != #{sqprdSeqNo}::integer
		</if>
		<if test="@com.bluewaves.lab.util.MyBatisUtil@isNotNull(goodsSearchValue) and @com.bluewaves.lab.util.MyBatisUtil@isNotEmpty(goodsSearchValue)">
			AND A.SQPRD_NM ILIKE CONCAT ('%', #{goodsSearchValue}, '%')
		</if>
	ORDER BY A.SQPRD_SEQ_NO DESC
	LIMIT #{endRow} OFFSET #{startRow}
	</select>
	
	<insert id="regist" parameterType="com.cellosquare.adminapp.admin.goods.vo.AdminGoodsVO" useGeneratedKeys="true" keyProperty="sqprdSeqNo">
	INSERT INTO MK_SQPRD (
		  META_SEQ_NO
		, LANG_CD
		, SQPRD_CTGRY
		, SQPRD_NM
		, SQPRD_ENG_NM
		, SQPRD_ATTN_ID
		, SQPRD_NAVY
		, SVC_VALID_STAT_DATE
		, SVC_VALID_END_DATE
		, SQPRD_SUMMARY_INFO
		, PC_LIST_IMG_PATH
		, PC_LIST_IMG_ORG_FILE_NM
		, PC_LIST_IMG_FILE_NM
		, PC_LIST_IMG_SIZE
		, PC_LIST_IMG_ALT
		, PC_DETL_IMG_PATH
		, PC_DETL_IMG_ORG_FILE_NM
		, PC_DETL_IMG_FILE_NM
		, PC_DETL_IMG_SIZE
		, PC_DETL_IMG_ALT
		, MOBILE_LIST_IMG_PATH 
		, MOBILE_LIST_IMG_ORG_FILE_NM
		, MOBILE_LIST_IMG_FILE_NM
		, MOBILE_LIST_IMG_SIZE 
		, MOBILE_LIST_IMG_ALT
		, MOBILE_DETL_IMG_PATH 
		, MOBILE_DETL_IMG_ORG_FILE_NM
		, MOBILE_DETL_IMG_FILE_NM
		, MOBILE_DETL_IMG_SIZE 
		, MOBILE_DETL_IMG_ALT
		, SQPRD_DETL_INFO
		, SQPRD_NOTI_CONTENTS
		, DEP_PORT_CD
		, ARRP_POT_CD
		, SHIP_TO
		, SQPRD_OPT1
		, SQPRD_OPT2
		, SQPRD_OPT3
		, SQPRD_OPT4
		, SQPRD_OPT5
		, RELTD_SQPRD1
		, RELTD_SQPRD2
		, RELTD_SQPRD3
		, VIEW_TYPE_IMG
		, VIEW_TYPE_IMG_BKGR_COLOR_OPT
		, VIEW_TYPE_IMG_BKGR_COLOR_CCD
		, VIEW_TYPE_IMG_BKGR_COLOR_VAL
		, VIEW_TYPE_IMG_FROM
		, VIEW_TYPE_IMG_CCD
		, VIEW_TYPE_IMG_TO
		, VIEW_TYPE_IMG_HASH_TAG
		, VIEW_TYPE_IMG_PATH
		, VIEW_TYPE_IMG_ORG_FILE_NM
		, VIEW_TYPE_IMG_FILE_NM
		, VIEW_TYPE_IMG_SIZE
		, VIEW_TYPE_IMG_ALT
		, USE_YN
		, INS_DTM
		, INS_PERSON_ID
		, UPD_DTM
		, UPD_PERSON_ID
	) VALUES (
		  #{metaSeqNo}::integer
		, #{langCd}
		, #{sqprdCtgry}
		, #{sqprdNm}
		, #{sqprdEngNm}
		, #{sqprdAttnId}
		, #{sqprdNavy}
		, #{svcValidStatDate}
		, #{svcValidEndDate}
		, #{sqprdSummaryInfo}
		, #{pcListImgPath}
		, #{pcListImgOrgFileNm}
		, #{pcListImgFileNm}
		, #{pcListImgSize}::integer
		, #{pcListImgAlt}
		, #{pcDetlImgPath}
		, #{pcDetlImgOrgFileNm}
		, #{pcDetlImgFileNm}
		, #{pcDetlImgSize}::integer
		, #{pcDetlImgAlt}
		, #{mobileListImgPath}
		, #{mobileListImgOrgFileNm}
		, #{mobileListImgFileNm}
		, #{mobileListImgSize}::integer
		, #{mobileListImgAlt}
		, #{mobileDetlImgPath}
		, #{mobileDetlImgOrgFileNm}
		, #{mobileDetlImgFileNm}
		, #{mobileDetlImgSize}::integer
		, #{mobileDetlImgAlt}
		, #{sqprdDetlInfo}
		, #{sqprdNotiContents}
		, #{depPortCd}
		, #{arrpPotCd}
		, #{shipTo}
		, #{sqprdOpt1}
		, #{sqprdOpt2}
		, #{sqprdOpt3}
		, #{sqprdOpt4}
		, #{sqprdOpt5}
		, #{relsqprdSeqNo1}
		, #{relsqprdSeqNo2}
		, #{relsqprdSeqNo3}
		, #{viewTypeImg}
		, #{viewTypeImgBkgrColorOpt}
		, #{viewTypeImgBkgrColorCcd}
		, #{viewTypeImgBkgrColorVal}
		, #{viewTypeImgFrom}
		, #{viewTypeImgCcd}
		, #{viewTypeImgTo}
		, #{viewTypeImgHashTag}
		, #{viewTypeImgPath}
		, #{viewTypeImgOrgFileNm}
		, #{viewTypeImgFileNm}
		, #{viewTypeImgSize}::integer
		, #{viewTypeImgAlt}
		, #{useYn}
		, NOW()
		, #{insPersonId}
		, NOW()
		, #{updPersonId}
	)
	</insert>
	
	<select id="getGoodsNm" parameterType="com.cellosquare.adminapp.admin.goods.vo.AdminGoodsVO" resultType="com.cellosquare.adminapp.admin.goods.vo.AdminGoodsVO">
		SELECT 
			  SQPRD_SEQ_NO
			, SQPRD_NM 
			, SQPRD_CTGRY
		FROM MK_SQPRD 
		WHERE SQPRD_SEQ_NO = #{sqprdSeqNo}::integer
	</select>
	
	<update id="doUpdate" parameterType="com.cellosquare.adminapp.admin.goods.vo.AdminGoodsVO">
	UPDATE MK_SQPRD
	SET
		  SQPRD_NM						= #{sqprdNm}
		, SQPRD_ENG_NM                  = #{sqprdEngNm}
		, SQPRD_ATTN_ID                 = #{sqprdAttnId}
		, SQPRD_NAVY                    = #{sqprdNavy}
		, SVC_VALID_STAT_DATE           = #{svcValidStatDate}
		, SVC_VALID_END_DATE            = #{svcValidEndDate}
		, SQPRD_SUMMARY_INFO            = #{sqprdSummaryInfo}
		, PC_LIST_IMG_PATH			    = #{pcListImgPath}
		, PC_LIST_IMG_ORG_FILE_NM       = #{pcListImgOrgFileNm}
		, PC_LIST_IMG_FILE_NM           = #{pcListImgFileNm}
		, PC_LIST_IMG_SIZE              = #{pcListImgSize}::integer
		, PC_LIST_IMG_ALT               = #{pcListImgAlt}
		, PC_DETL_IMG_PATH			 	= #{pcDetlImgPath}
		, PC_DETL_IMG_ORG_FILE_NM      	= #{pcDetlImgOrgFileNm}
		, PC_DETL_IMG_FILE_NM          	= #{pcDetlImgFileNm}
		, PC_DETL_IMG_SIZE             	= #{pcDetlImgSize}::integer
		, PC_DETL_IMG_ALT              	= #{pcDetlImgAlt}
		, MOBILE_LIST_IMG_PATH			= #{mobileListImgPath}
		, MOBILE_LIST_IMG_ORG_FILE_NM   = #{mobileListImgOrgFileNm}
		, MOBILE_LIST_IMG_FILE_NM       = #{mobileListImgFileNm}
		, MOBILE_LIST_IMG_SIZE          = #{mobileListImgSize}::integer
		, MOBILE_LIST_IMG_ALT           = #{mobileListImgAlt}
		, MOBILE_DETL_IMG_PATH		 	= #{mobileDetlImgPath}
		, MOBILE_DETL_IMG_ORG_FILE_NM  	= #{mobileDetlImgOrgFileNm}
		, MOBILE_DETL_IMG_FILE_NM      	= #{mobileDetlImgFileNm}
		, MOBILE_DETL_IMG_SIZE         	= #{mobileDetlImgSize}::integer
		, MOBILE_DETL_IMG_ALT          	= #{mobileDetlImgAlt}
		, SQPRD_DETL_INFO               = #{sqprdDetlInfo}
		, SQPRD_NOTI_CONTENTS           = #{sqprdNotiContents}
		, DEP_PORT_CD                   = #{depPortCd}
		, ARRP_POT_CD                   = #{arrpPotCd}
		, SHIP_TO                       = #{shipTo}
		, SQPRD_OPT1                    = #{sqprdOpt1}
		, SQPRD_OPT2                    = #{sqprdOpt2}
		, SQPRD_OPT3                    = #{sqprdOpt3}
		, SQPRD_OPT4                    = #{sqprdOpt4}
		, SQPRD_OPT5                    = #{sqprdOpt5}
		, RELTD_SQPRD1                  = #{relsqprdSeqNo1}
		, RELTD_SQPRD2                  = #{relsqprdSeqNo2}
		, RELTD_SQPRD3					= #{relsqprdSeqNo3}
		, VIEW_TYPE_IMG				    = #{viewTypeImg}
		, VIEW_TYPE_IMG_BKGR_COLOR_OPT	= #{viewTypeImgBkgrColorOpt}
		, VIEW_TYPE_IMG_BKGR_COLOR_CCD	= #{viewTypeImgBkgrColorCcd}
		, VIEW_TYPE_IMG_BKGR_COLOR_VAL	= #{viewTypeImgBkgrColorVal}
		, VIEW_TYPE_IMG_FROM			= #{viewTypeImgFrom}
		, VIEW_TYPE_IMG_CCD				= #{viewTypeImgCcd}
		, VIEW_TYPE_IMG_TO				= #{viewTypeImgTo}
		, VIEW_TYPE_IMG_HASH_TAG		= #{viewTypeImgHashTag}
		, VIEW_TYPE_IMG_PATH			= #{viewTypeImgPath}
		, VIEW_TYPE_IMG_ORG_FILE_NM		= #{viewTypeImgOrgFileNm}
		, VIEW_TYPE_IMG_FILE_NM			= #{viewTypeImgFileNm}
		, VIEW_TYPE_IMG_SIZE			= #{viewTypeImgSize}::integer
		, VIEW_TYPE_IMG_ALT				= #{viewTypeImgAlt}
		, USE_YN                        = #{useYn}
		, UPD_DTM 			       		= NOW()
		, UPD_PERSON_ID 			    = #{updPersonId}
	WHERE SQPRD_SEQ_NO = #{sqprdSeqNo}::integer
	AND SQPRD_CTGRY = #{sqprdCtgry}
	</update>
	
	<delete id="delete" parameterType="com.cellosquare.adminapp.admin.goods.vo.AdminGoodsVO">
		DELETE FROM MK_SQPRD
		WHERE 1=1 
		AND SQPRD_SEQ_NO = #{sqprdSeqNo}::integer
		AND SQPRD_CTGRY = #{sqprdCtgry}
	</delete>
</mapper>