<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"   "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cellosquare.adminapp.admin.seo.mapper.AdminSeoMapper">

	
	<insert id="doSeoWrite" parameterType="com.cellosquare.adminapp.admin.seo.vo.AdminSeoVO" useGeneratedKeys="true" keyProperty="metaSeqNo">
		INSERT INTO MK_META (
			META_TITLE_NM
			, META_DESC
			, OG_IMG_PATH
			, OG_IMG_ORG_FILE_NM
			, OG_IMG_FILE_NM
			, OG_IMG_SIZE
			, key_words
			, USE_YN
			, INS_DTM
			, INS_PERSON_ID
			, UPD_DTM
			, UPD_PERSON_ID
		) VALUES (
			#{metaTitleNm}
			, #{metaDesc}
			, #{ogImgPath}
			, #{ogImgOrgFileNm}
			, #{ogImgFileNm}
			, #{ogImgSize}::integer
			, #{keyWords}
			, 'Y'
			, NOW()
			, #{insPersonId}
			, NOW()
			, #{updPersonId}
		)
	</insert>
	
	<select id="getSeoSelect" parameterType="com.cellosquare.adminapp.admin.seo.vo.AdminSeoVO" resultType="com.cellosquare.adminapp.admin.seo.vo.AdminSeoVO">
		SELECT
			*
		FROM MK_META
		WHERE META_SEQ_NO = #{metaSeqNo}::integer
	</select>
	
	<delete id="doSeoDelete" parameterType="com.cellosquare.adminapp.admin.seo.vo.AdminSeoVO">
		DELETE FROM MK_META WHERE META_SEQ_NO = #{metaSeqNo}::integer
	</delete>
	
	<update id="doSeoUpdate" parameterType="com.cellosquare.adminapp.admin.seo.vo.AdminSeoVO">
		UPDATE MK_META
		SET
			META_TITLE_NM = #{metaTitleNm}
			, META_DESC = #{metaDesc}
			, OG_IMG_PATH = #{ogImgPath}
			, OG_IMG_ORG_FILE_NM = #{ogImgOrgFileNm}
			, OG_IMG_FILE_NM = #{ogImgFileNm}
			, OG_IMG_SIZE = #{ogImgSize}::integer
			, UPD_DTM = NOW()
			, UPD_PERSON_ID = #{updPersonId}
			, key_words = #{keyWords}
		WHERE META_SEQ_NO = #{metaSeqNo}::integer
	</update>
</mapper>