.ce-icon-toolbar-default{display:inline-block;background:url('./images/ce-icon.png') no-repeat;overflow:hidden;text-align:left;}
.ce-icon-pe_aQQ{background-position:-0px -0px;width:18px;height:18px;}
.ce-icon-pe_Ai{background-position:-0px -18px;width:18px;height:18px;}
.ce-icon-autosave{background-position:-0px -36px;width:18px;height:18px;}
.ce-icon-backgroundimage{background-position:-0px -54px;width:18px;height:18px;}
.ce-icon-blockquote{background-position:-0px -72px;width:18px;height:18px;}
.ce-icon-bold{background-position:-0px -90px;width:18px;height:18px;}
.ce-icon-bookmark{background-position:-0px -108px;width:18px;height:18px;}
.ce-icon-cancelattribute{background-position:-0px -126px;width:18px;height:18px;}
.ce-icon-ce_imageeditor{background-position:-0px -144px;width:18px;height:18px;}
.ce-icon-cell-middle-justifyfull{background-position:-0px -162px;width:18px;height:18px;}
.ce-icon-cell-middle-bottom-justifycenter{background-position:-0px -180px;width:18px;height:18px;}
.ce-icon-cell-middle-bottom-justifyfull{background-position:-0px -198px;width:18px;height:18px;}
.ce-icon-cell-middle-bottom-justifyright{background-position:-0px -216px;width:18px;height:18px;}
.ce-icon-cell-middle-top-justifycenter{background-position:-0px -234px;width:18px;height:18px;}
.ce-icon-cell-middle-top-justifyright{background-position:-0px -252px;width:18px;height:18px;}
.ce-icon-cell-top-justifycenter{background-position:-0px -270px;width:18px;height:18px;}
.ce-icon-cell-top-justifyfull{background-position:-0px -288px;width:18px;height:18px;}
.ce-icon-cell-top-justifyright{background-position:-0px -306px;width:18px;height:18px;}
.ce-icon-celllock{background-position:-0px -324px;width:18px;height:18px;}
.ce-icon-change-lowercase{background-position:-0px -342px;width:18px;height:18px;}
.ce-icon-pe_bbN{background-position:-0px -360px;width:18px;height:18px;}
.ce-icon-copy{background-position:-0px -378px;width:18px;height:18px;}
.ce-icon-cut{background-position:-0px -396px;width:18px;height:18px;}
.ce-icon-dict{background-position:-0px -414px;width:18px;height:18px;}
.ce-icon-dirltr{background-position:-0px -432px;width:18px;height:18px;}
.ce-icon-dirrtl{background-position:-0px -450px;width:18px;height:18px;}
.ce-icon-doc{background-position:-0px -468px;width:18px;height:18px;}
.ce-icon-docx{background-position:-0px -486px;width:18px;height:18px;}
.ce-icon-emoticon{background-position:-0px -504px;width:18px;height:18px;}
.ce-icon-pe_bpC{background-position:-0px -522px;width:18px;height:18px;}
.ce-icon-etcfile{background-position:-0px -540px;width:18px;height:18px;}
.ce-icon-flash{background-position:-0px -558px;width:18px;height:18px;}
.ce-icon-font{background-position:-0px -576px;width:18px;height:18px;}
.ce-icon-fontbackgroundcolor{background-position:-0px -594px;width:18px;height:18px;}
.ce-icon-fontcolor{background-position:-0px -612px;width:18px;height:18px;}
.ce-icon-fopen{background-position:-0px -630px;width:18px;height:18px;}
.ce-icon-formatcopy{background-position:-0px -648px;width:18px;height:18px;}
.ce-icon-formatpaste{background-position:-0px -666px;width:18px;height:18px;}
.ce-icon-fullscreen{background-position:-0px -684px;width:18px;height:18px;}
.ce-icon-help{background-position:-0px -702px;width:18px;height:18px;}
.ce-icon-higt{background-position:-0px -720px;width:18px;height:18px;}
.ce-icon-inserthorizontalrule{background-position:-0px -738px;width:18px;height:18px;}
.ce-icon-hyperlink{background-position:-0px -756px;width:18px;height:18px;}
.ce-icon-remove_hyperlink{background-position:-0px -1530px;width:18px;height:18px;}
.ce-icon-image{background-position:-0px -774px;width:18px;height:18px;}
.ce-icon-indent{background-position:-0px -792px;width:18px;height:18px;}
.ce-icon-information{background-position:-0px -810px;width:18px;height:18px;}
.ce-icon-insertchart{background-position:-0px -828px;width:18px;height:18px;}
.ce-icon-insertcode{background-position:-0px -846px;width:18px;height:18px;}
.ce-icon-pe_aVL{background-position:-0px -864px;width:18px;height:18px;}
.ce-icon-insertdatetime{background-position:-0px -882px;width:18px;height:18px;}
.ce-icon-insertfile{background-position:-0px -900px;width:18px;height:18px;}
.ce-icon-insertlayer{background-position:-0px -918px;width:18px;height:18px;}
.ce-icon-italic{background-position:-0px -936px;width:18px;height:18px;}
.ce-icon-justifycenter{background-position:-0px -954px;width:18px;height:18px;}
.ce-icon-justifyfull{background-position:-0px -972px;width:18px;height:18px;}
.ce-icon-justifyleft{background-position:-0px -990px;width:18px;height:18px;}
.ce-icon-justifyright{background-position:-0px -1008px;width:18px;height:18px;}
.ce-icon-layout{background-position:-0px -1026px;width:18px;height:18px;}
.ce-icon-markset{background-position:-0px -1044px;width:18px;height:18px;}
.ce-icon-markset-01{background-position:-0px -1062px;width:18px;height:18px;}
.ce-icon-markset-02{background-position:-0px -1080px;width:18px;height:18px;}
.ce-icon-markset-03{background-position:-0px -1098px;width:18px;height:18px;}
.ce-icon-movebackward{background-position:-0px -1116px;width:18px;height:18px;}
.ce-icon-moveforward{background-position:-0px -1134px;width:18px;height:18px;}
.ce-icon-movie{background-position:-0px -1152px;width:18px;height:18px;}
.ce-icon-music{background-position:-0px -1170px;width:18px;height:18px;}
.ce-icon-newdoc{background-position:-0px -1188px;width:18px;height:18px;}
.ce-icon-numberset{background-position:-0px -1206px;width:18px;height:18px;}
.ce-icon-numberset-01{background-position:-0px -1224px;width:18px;height:18px;}
.ce-icon-numberset-02{background-position:-0px -1242px;width:18px;height:18px;}
.ce-icon-numberset-03{background-position:-0px -1260px;width:18px;height:18px;}
.ce-icon-numberset-04{background-position:-0px -1278px;width:18px;height:18px;}
.ce-icon-numberset-05{background-position:-0px -1296px;width:18px;height:18px;}
.ce-icon-numberset-06{background-position:-0px -1314px;width:18px;height:18px;}
.ce-icon-pe_bux{background-position:-0px -1332px;width:18px;height:18px;}
.ce-icon-outdent{background-position:-0px -1350px;width:18px;height:18px;}
.ce-icon-pagebreak{background-position:-0px -1368px;width:18px;height:18px;}
.ce-icon-paragraphsetup{background-position:-0px -1386px;width:18px;height:18px;}
.ce-icon-paste{background-position:-0px -1404px;width:18px;height:18px;}
.ce-icon-pastetext{background-position:-0px -1422px;width:18px;height:18px;}
.ce-icon-photoeditor{background-position:-0px -1440px;width:18px;height:18px;}
.ce-icon-ppt{background-position:-0px -1458px;width:18px;height:18px;}
.ce-icon-print{background-position:-0px -1476px;width:18px;height:18px;}
.ce-icon-privacy{background-position:-0px -1494px;width:18px;height:18px;}
.ce-icon-layoutlock{background-position:-0px -2279px;width:18px;height:18px;}
.ce-icon-redo{background-position:-0px -1512px;width:18px;height:18px;}
.ce-icon-remove-hyperlink{background-position:-0px -1530px;width:18px;height:18px;}
.ce-icon-replace{background-position:-0px -1548px;width:18px;height:18px;}
.ce-icon-saveas{background-position:-0px -1566px;width:18px;height:18px;}
.ce-icon-search{background-position:-0px -1584px;width:18px;height:18px;}
.ce-icon-selectall{background-position:-0px -1602px;width:18px;height:18px;}
.ce-icon-setup{background-position:-0px -1620px;width:18px;height:18px;}
.ce-icon-specialchars{background-position:-0px -1638px;width:18px;height:18px;}
.ce-icon-spellchecker{background-position:-0px -1656px;width:18px;height:18px;}
.ce-icon-spellchecker-kor{background-position:-0px -1674px;width:18px;height:18px;}
.ce-icon-pe_bah{background-position:-0px -1692px;width:18px;height:18px;}
.ce-icon-strikethrough{background-position:-0px -1710px;width:18px;height:18px;}
.ce-icon-subscript{background-position:-0px -1728px;width:18px;height:18px;}
.ce-icon-superscript{background-position:-0px -1746px;width:18px;height:18px;}
.ce-icon-tableinsert{background-position:-0px -1764px;width:18px;height:18px;}
.ce-icon-pe_buk{background-position:-0px -1782px;width:18px;height:18px;}
.ce-icon-tablecellattribute{background-position:-0px -1800px;width:18px;height:18px;}
.ce-icon-tablecellmerge{background-position:-0px -1818px;width:18px;height:18px;}
.ce-icon-tablecellsplit{background-position:-0px -1836px;width:18px;height:18px;}
.ce-icon-tablecolumndelete{background-position:-0px -1854px;width:18px;height:18px;}
.ce-icon-tablecolumninsert{background-position:-0px -1872px;width:18px;height:18px;}
.ce-icon-tabledraginsert{background-position:-0px -1890px;width:18px;height:18px;}
.ce-icon-tablelock{background-position:-0px -1908px;width:18px;height:18px;}
.ce-icon-tablerowdelete{background-position:-0px -1926px;width:18px;height:18px;}
.ce-icon-tablerowinsert{background-position:-0px -1944px;width:18px;height:18px;}
.ce-icon-template{background-position:-0px -1962px;width:18px;height:18px;}
.ce-icon-templatelist{background-position:-0px -1980px;width:18px;height:18px;}
.ce-icon-translator{background-position:-0px -1998px;width:18px;height:18px;}
.ce-icon-txtmargin{background-position:-0px -2016px;width:18px;height:18px;}
.ce-icon-underline{background-position:-0px -2034px;width:18px;height:18px;}
.ce-icon-undo{background-position:-0px -2052px;width:18px;height:18px;}
.ce-icon-validation{background-position:-0px -2070px;width:18px;height:18px;}
.ce-icon-validation-temp{background-position:-0px -2088px;width:18px;height:18px;}
.ce-icon-xls{background-position:-0px -2106px;width:18px;height:18px;}
.ce-icon-zip{background-position:-0px -2124px;width:18px;height:18px;}
.ce-icon-insertdatetimelist{background-position:-0px -2142px;width:11px;height:22px;}
.ce-icon-marksettype{background-position:-0px -2164px;width:11px;height:22px;}
.ce-icon-numbersettype{background-position:-0px -2186px;width:11px;height:22px;}
.ce-icon-showruler{background-position:-0px -2315px;width:18px;height:18px;}
.ce-icon-fixedwidth{background-position:-0px -2296px;width:18px;height:18px;}
.ce-icon-tablecellbgcolor{background-position:-0px -2367px;width:18px;height:18px;}
.ce-icon-word{background-position:-0px -2385px;width:18px;height:18px;}
.ce-icon-iconmenu{background-position:-0px -2404px;width:18px;height:18px;}
.ce-icon-responsive{background-position:-0px -2422px;width:18px;height:18px;}
.ce-icon-topdf{background-position:-0px -2440px;width:18px;height:18px;}
.ce-icon-tagcleaner{background-position:-0px -2494px;width:18px;height:18px;}
.ce-icon-tableborder{background-position: -0px -2262px;width: 18px;height: 18px;}
.ce-icon-tableborderlist{background-position: -0px -2186px;width: 11px;height: 22px;}

.key_menu{background:url('images/key_menu.gif') no-repeat right top;width:42px;height:15px;}