<?xml version="1.0" encoding="utf-8"?>
<Configuration>
	<Product>
		<Name>Namo CrossEditor</Name>
		<Logo></Logo>
		<Help></Help>
		<Info></Info>
	</Product>
	<General>
		<WebServerOS></WebServerOS>
		<WebServerInfo></WebServerInfo>
		<WebLanguage></WebLanguage>
		<ImageSavePath></ImageSavePath>
		<Width></Width>
		<Height></Height>
		<UploadFileNameType></UploadFileNameType>
		<UploadFileViewer></UploadFileViewer>
		<UploadFileSizeLimit></UploadFileSizeLimit>
		<UploadFileSubDir></UploadFileSubDir>
		<UploadFileExtBlockList></UploadFileExtBlockList>
		<UploadImageFileExtBlockList>0|gif,jpeg,jpg,png,bmp</UploadImageFileExtBlockList>
		<AttributeBlockList></AttributeBlockList>
		<TagBlockList></TagBlockList>
		<Template></Template>
		<ServerUrl>2</ServerUrl>
		<ResizeBar></ResizeBar>
		<MenuInEditor></MenuInEditor>
		<AutoSavePeriod></AutoSavePeriod>
		<HideAddImageCheckbox></HideAddImageCheckbox>
		<RemoveScriptBlock></RemoveScriptBlock>
		<ClipBoardFontFamily></ClipBoardFontFamily>
		<ClipBoardFontSize></ClipBoardFontSize>
		<ContextMenuPasteText></ContextMenuPasteText>
	</General>
	<Editor>
		<SetFocus></SetFocus>
		<LineHeight></LineHeight>
		<UnloadWarning></UnloadWarning>
		<SetDebug></SetDebug>
		<HTMLTabByTableLock></HTMLTabByTableLock>
		<HTMLTabContents></HTMLTabContents>
		<AccessibilityOption></AccessibilityOption>
		<FontColor></FontColor>
		<FontSizeList></FontSizeList>
		<LineHeightList></LineHeightList>
		<IndentPaddingValue></IndentPaddingValue>
		<ReturnKeyActionBR></ReturnKeyActionBR>
		<ImgLineColor></ImgLineColor>
		<TableLineColor></TableLineColor>
		<TableBGColor></TableBGColor>
		<DefaultFont></DefaultFont>
		<DefaultFontSize></DefaultFontSize>
		<Placeholder></Placeholder>
		<Csslist></Csslist>
		<ProfanityStr></ProfanityStr>
		<LimitClipboardNodeCount></LimitClipboardNodeCount>
		<PasteSelectFormat></PasteSelectFormat>
		<UseTagCleaner></UseTagCleaner>
	</Editor>
	<Document>
		<CharSet></CharSet>
		<DocBaseURL></DocBaseURL>
		<DocTitle></DocTitle>
		<AllowContentScript></AllowContentScript>
		<AllowContentIframe></AllowContentIframe>
		<MSOfficeTranON></MSOfficeTranON>
		<DefaultDocType></DefaultDocType>
	</Document>
	<UI>
		<Skin></Skin>
		<IconColor>default</IconColor>
		<UserSkinColor></UserSkinColor>
		<Css></Css>
		<UserToolbar></UserToolbar>
		<CreateToolbar></CreateToolbar>
		<CreateTab></CreateTab>
		<IsQuestAutoSave></IsQuestAutoSave>
		<Menu>true</Menu>
		<QuickMenu>false</QuickMenu>
		<DisplayLoadingBar>true</DisplayLoadingBar>
		<ShowRuler></ShowRuler>
	</UI>
	<ImageEditor>
		<CanvasWidth>1600</CanvasWidth>
		<CanvasHeight>1600</CanvasHeight>
	</ImageEditor>
	<User>
		<AddMenu></AddMenu>
	</User>
	<Plugins>
		<Version>1.0.0.21</Version>
		<Version_daemon>1.0.0.3</Version_daemon>
		<Version_com>1.0.0.16</Version_com>
		<SupportBrowser>0</SupportBrowser>
		<AutoInstall></AutoInstall>
	</Plugins>
</Configuration>

